<mat-form-field class="zu-datepicker">
  <input matInput
         class="input"
         [matDatepicker]="picker"
         (dateInput)="onDaySelected($event)"
         [matDatepickerFilter]="dateFilter">

  <mat-datepicker #picker
                  startView="{{startView}}"
                  (yearSelected)="onDateSelected($event, picker)"
                  (monthSelected)="onDateSelected($event, picker)"
                  [touchUi]="touchUi()"
  ></mat-datepicker>

</mat-form-field>

<button mat-raised-button class="zu-datepicker-button" [ngClass]="{ 'open': picker.opened }" (click)="open(picker)">
  {{ buttonLabel }}
</button>