<!--User Data step (Register data)-->
<section class="main-height flex flex-justify-space-center flex-align-center flex-wrap public-page-backgroud"
         *ngIf="steps[activeStep] === RegisterSteps.USER_DATA">
  <mat-card>
    <mat-card-content class="main-content-padding">

      <div class="flex flex-align-center flex-justify-space-between flex-wrap">

        <div class="full-width-xs">

          <!--Page logo-->
          <div class="logo-container">
            <!--LOGO VERTICAL WHITE-->
            <svg class="logo-horizontal hide-xs" width="318px" height="171px" viewBox="0 0 318 171">
              <use xlink:href="#logo-vertical-white"></use>
            </svg>

            <!--LOGO VERTICAL WHITE COMPLEX-->
            <svg class="logo-complex" width="231px" height="124px" viewBox="0 0 231 124">
              <use xlink:href="#logo-vertical-white-complex"></use>
            </svg>
          </div>

          <ng-container *ngIf="isMobile === true">
            <ng-content></ng-content>
          </ng-container>

          <ng-container *ngIf="isMobile !== true">

            <!--Sign up with Google-->
            <zu-google-sign-in [actionButtonText]="'Sign up with Google'"></zu-google-sign-in>

            <!--Sign up with Facebook-->
            <zu-facebook-sign-in [actionButtonText]="'Sign up with Facebook'"></zu-facebook-sign-in>

          </ng-container>

        </div>

        <!--Vertical line ceparator-->
        <div class="vertical-line-block user-data-vertical-line-block hide-xs"></div>

        <div class="full-width-xs">

          <!-- Sign up form (User Data step)-->
          <div class="full-width-xs">
            <form [formGroup]="registrationForm" novalidate (submit)="registration()">
              <ul class="list-unstyled">
                <li class="mb-12">
                  <input type="text"
                         required
                         formControlName="firstName"
                         placeholder="First name"
                         class="input-transparent name-field"
                         maxlength="40">
                </li>
                <li class="mb-12">
                  <input type="text"
                         required
                         formControlName="lastName"
                         placeholder="Last name"
                         class="input-transparent name-field"
                         maxlength="40">
                </li>
                <li class="mb-12">
                  <input type="email"
                         required
                         formControlName="email"
                         placeholder="E-mail"
                         class="input-transparent login-field"
                         maxlength="254">
                </li>
                <li class="mb-12">
                  <input type="password"
                         required
                         formControlName="password"
                         placeholder="Password"
                         class="input-transparent password-field"
                         maxlength="60">
                </li>
                <li class="mb-24">
                  <input type="password"
                         required
                         formControlName="confirmPassword"
                         placeholder="Confirm password"
                         class="input-transparent password-field"
                         maxlength="60">
                </li>
                <div class="flex flex-direction-row flex-justify-space-between">
                  <li>
                    <button mat-raised-button type="button" class="back-btn btn font-sf-light" routerLink="/login">Back</button>
                  </li>
                  <li>
                    <button type="submit" color="primary" class="sign-in-btn btn ml-6 font-sf-light" [disabled]="isRequestInProgress">JOIN THE ZU</button>
                  </li>
                </div>
              </ul>
            </form>
          </div>

        </div>
      </div>
    </mat-card-content>
  </mat-card>
</section>
<!--End of User Data step-->

<!-- Sign up form (User Email step)-->
<section class="main-height flex flex-align-center flex-justify-space-center flex-wrap public-page-backgroud"
         *ngIf="steps[activeStep] === RegisterSteps.USER_EMAIL">
  <mat-card [formGroup]="registrationForm">
    <mat-card-content class="main-content-padding">

      <!--Page logo-->
      <div class="logo-container">
        <!--LOGO HORIZONTAL-->
        <svg class="logo-horizontal hide-xs" width="366px" height="93px" viewBox="0 0 610 156">
          <use xlink:href="#logo-horizontal-white"></use>
        </svg>

        <!--LOGO VERTICAL WHITE COMPLEX-->
        <svg class="logo-complex" width="231px" height="124px" viewBox="0 0 231 124">
          <use xlink:href="#logo-vertical-white-complex"></use>
        </svg>
      </div>

      <div class="flex flex-justify-space-between flex-wrap flex-align-center">

        <div class="full-width-xs max-width-380 flex flex-direction-column mb-12">
          <span class="info-label align-center info-title">Enter your email to continue</span>
          <span class="info-label align-center">We didn’t detect any email address linked <br>
             to your Facebook account</span>
        </div>

        <div class="vertical-line-block hide-xs card-detail-vertical-block"></div>

        <div class="full-width-xs max-width-380">

          <div class="full-width mb-24">
            <input type="email" required formControlName="emailSocial" placeholder="E-mail" class="input-transparent login-field">
          </div>

          <div class="flex flex-direction-row flex-justify-space-between">
            <button class="back-btn btn mr-6" routerLink="/logout">Logout</button>

            <button class="btn sign-in-btn ml-6" (click)="registration()">Join the ZU</button>
          </div>

        </div>
      </div>
    </mat-card-content>
  </mat-card>
</section>

<!--Step Terms & Policy (agree with Terms of Use and Privacy Policy)-->
<section class="main-height flex flex-align-center flex-justify-space-center flex-wrap public-page-backgroud"
         *ngIf="steps[activeStep] === RegisterSteps.TERMS_AND_POLICY && isMobile === false">
  <mat-card>
    <mat-card-content class="main-content-padding">

      <!--Page logo-->
      <div class="logo-container">
        <!--LOGO HORIZONTAL-->
        <svg class="logo-horizontal hide-xs" width="366px" height="93px" viewBox="0 0 610 156">
          <use xlink:href="#logo-horizontal-white"></use>
        </svg>

        <!--LOGO VERTICAL WHITE COMPLEX-->
        <svg class="logo-complex" width="231px" height="124px" viewBox="0 0 231 124">
          <use xlink:href="#logo-vertical-white-complex"></use>
        </svg>

        <button type="button"
                class="button-small button-small--link button-logout hide-xs"
                [routerLink]="['/logout']">
          <span>Log out</span>
          <svg class="ml-6" width="14px" height="14px" viewBox="0 0 10 10" version="1.1" xmlns="http://www.w3.org/2000/svg">
            <desc>Created with Sketch.</desc>
            <defs></defs>
            <g id="Sign-Up" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
              <g id="Business-data" transform="translate(-1246.000000, -90.000000)" fill="#FFFFFF" fill-rule="nonzero">
                <g id="Group-10" transform="translate(1197.000000, 81.000000)">
                  <g id="Group-7" transform="translate(10.000000, 7.000000)">
                    <g id="logout-variant" transform="translate(39.000000, 2.000000)">
                      <path d="M6.15555556,6.99444444 L7.59444444,5.55555556 L2.22222222,5.55555556 L2.22222222,4.44444444 L7.59444444,4.44444444 L6.15555556,3.00555556 L6.94444444,2.22222222 L9.72222222,5 L6.94444444,7.77777778 L6.15555556,6.99444444 Z M8.88888889,0 C9.50253861,0 10,0.497461389 10,1.11111111 L10,3.70555556 L8.88888889,2.59444444 L8.88888889,1.11111111 L1.11111111,1.11111111 L1.11111111,8.88888889 L8.88888889,8.88888889 L8.88888889,7.40555556 L10,6.29444444 L10,8.88888889 C10,9.50253861 9.50253861,10 8.88888889,10 L1.11111111,10 C0.494444444,10 0,9.5 0,8.88888889 L0,1.11111111 C0,0.494444444 0.494444444,0 1.11111111,0 L8.88888889,0 Z"
                            id="Shape"></path>
                    </g>
                  </g>
                </g>
              </g>
            </g>
          </svg>
        </button>

        <button type="button"
                class="button-small button-small--link button-logout show-xs"
                [routerLink]="['/logout']">
          <span>Log out</span>
          <svg class="ml-6" width="14px" height="14px" viewBox="0 0 10 10" version="1.1" xmlns="http://www.w3.org/2000/svg">
            <desc>Created with Sketch.</desc>
            <defs></defs>
            <g id="Sign-Up" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
              <g id="Business-data" transform="translate(-1246.000000, -90.000000)" fill="#FFFFFF" fill-rule="nonzero">
                <g id="Group-10" transform="translate(1197.000000, 81.000000)">
                  <g id="Group-7" transform="translate(10.000000, 7.000000)">
                    <g id="logout-variant" transform="translate(39.000000, 2.000000)">
                      <path d="M6.15555556,6.99444444 L7.59444444,5.55555556 L2.22222222,5.55555556 L2.22222222,4.44444444 L7.59444444,4.44444444 L6.15555556,3.00555556 L6.94444444,2.22222222 L9.72222222,5 L6.94444444,7.77777778 L6.15555556,6.99444444 Z M8.88888889,0 C9.50253861,0 10,0.497461389 10,1.11111111 L10,3.70555556 L8.88888889,2.59444444 L8.88888889,1.11111111 L1.11111111,1.11111111 L1.11111111,8.88888889 L8.88888889,8.88888889 L8.88888889,7.40555556 L10,6.29444444 L10,8.88888889 C10,9.50253861 9.50253861,10 8.88888889,10 L1.11111111,10 C0.494444444,10 0,9.5 0,8.88888889 L0,1.11111111 C0,0.494444444 0.494444444,0 1.11111111,0 L8.88888889,0 Z"
                            id="Shape"></path>
                    </g>
                  </g>
                </g>
              </g>
            </g>
          </svg>
        </button>
      </div>

      <div class="flex flex-wrap flex-justify-space-between flex-align-stretch">
        <div class="full-width-xs terms-container">
          <zu-terms-and-conditions class="terms-container__body"></zu-terms-and-conditions>

          <div class="terms-container__spinner">
            <mat-spinner [diameter]="30"
                         [strokeWidth]="1.5"
                         [value]="50"
                         mode="indeterminate"></mat-spinner>
          </div>
        </div>

        <div class="flex flex-direction-row flex-justify-flex-end full-width mb-12">
          <img src="../../../assets/images/login-sign-up/download.svg">
          <a class="ml-6 link-default--login-page"
             href="https://s3-ap-southeast-2.amazonaws.com/shootzustorage/1.2+Shootzu+Membership+Terms+231218.pdf"
             download="Shootzu Membership Terms">Download PDF</a>
        </div>

        <div class="full-width flex flex-justify-space-between controls-container flex-align-center">

          <div class="full-width-xs">
            <div class="mt-12 mb-12">
              <mat-checkbox class="register-checkbox" [(ngModel)]="termsOfUse">I agree to the Terms and Conditions</mat-checkbox>
            </div>
            <div class="mt-12 mb-24">
              <mat-checkbox class="register-checkbox" [(ngModel)]="privacyPolicy">I agree to the
                <a class="link-privacy-policy" target="_blank" href="https://www.shootzu.com/privacy-policy/">Privacy Policy</a>
              </mat-checkbox>
            </div>
          </div>

          <div class="full-width-xs flex flex-wrap bottom-box flex-align-end">
            <div class="buttons-container mb-12 full-width-xs bottom-box__item">
              <button mat-raised-button class="btn sign-in-btn font-sf-light full-width-xs"
                      (click)="goToNextStep()"
                      [disabled]="isAgreeWithTermsAndPrivacy(termsOfUse, privacyPolicy) === false">NEXT
              </button>
            </div>
          </div>
        </div>
      </div>
    </mat-card-content>

  </mat-card>
</section>
<!--End of Terms & Policy step-->

<!--Mobile registration redirect step-->
<section class="main-height flex flex-align-center flex-justify-space-center flex-wrap public-page-backgroud"
         *ngIf="steps[activeStep] === RegisterSteps.TERMS_AND_POLICY && isMobile === true">
  <mat-card>
    <mat-card-content class="main-content-padding">

      <!--Page logo-->
      <div class="logo-container">
        <!--LOGO HORIZONTAL-->
        <svg class="logo-horizontal hide-xs" width="366px" height="93px" viewBox="0 0 610 156">
          <use xlink:href="#logo-horizontal-white"></use>
        </svg>

        <!--LOGO VERTICAL WHITE COMPLEX-->
        <svg class="logo-complex" width="231px" height="124px" viewBox="0 0 231 124">
          <use xlink:href="#logo-vertical-white-complex"></use>
        </svg>
      </div>

      <div class="flex flex-direction-column flex-align-center">
        <div class="_text">
          To join the Zu, you must first complete your profile via the Shootzu website.
        </div>

        <a class="link-default _link mt-24" routerLink="/logout">Logout</a>
      </div>

    </mat-card-content>
  </mat-card>
</section>
<!--End of mobile registration redirect step-->

<!--Select membership type step-->
<section class="main-height flex flex-align-center flex-justify-space-center flex-wrap public-page-backgroud"
         *ngIf="steps[activeStep] === RegisterSteps.SELECT_MEMBERSHIP">
  <mat-card>
    <mat-card-content class="main-content-padding">

      <!--Page logo-->
      <div class="logo-container">
        <!--LOGO HORIZONTAL-->
        <svg class="logo-horizontal hide-xs" width="366px" height="93px" viewBox="0 0 610 156">
          <use xlink:href="#logo-horizontal-white"></use>
        </svg>

        <!--LOGO VERTICAL WHITE COMPLEX-->
        <svg class="logo-complex" width="231px" height="124px" viewBox="0 0 231 124">
          <use xlink:href="#logo-vertical-white-complex"></use>
        </svg>
      </div>

      <h1 class="membership-step--header">Choose your membership</h1>

      <div class="flex flex-justify-space-arround flex-align-center flex-wrap mb-36">
        <div class="membership-block membership-block-register"
             [ngClass]="disabledClass"
             (click)="selectMembershipType(membershipTypeEnum.FREE)">

          <div class="membership-block__header">

            <h3 class="membership-block__subheader">FREE</h3>

            <span class="membership-block__price">No Membership Fee</span>
          </div>

          <ul class="list-unstyled mt-12 membership-block__list">
            <li class="membership-block__list-item">Apply for 3 Jobs</li>
            <li class="membership-block__list-item">Post 1 job</li>
            <li class="membership-block__list-item">Profile/Portfolio</li>
            <li class="membership-block__list-item">Find/Search for Jobs</li>
            <li class="membership-block__list-item">Crew Payments</li>
            <li class="membership-block__list-item">Crew Contracts</li>
            <li class="membership-block__list-item">Insurance on Jobs</li>
            <li class="membership-block__list-item">Android & iOS App</li>
          </ul>
        </div>

        <div class="membership-block membership-block-register"
             [ngClass]="disabledClass"
             (click)="selectMembershipType(membershipTypeEnum.MONTHLY)">

          <div class="membership-block__header">

            <h3 class="membership-block__subheader">MONTHLY</h3>

            <span class="membership-block__price">{{15.91 | currency: '$'}} AUD</span>
          </div>

          <ul class="list-unstyled mt-12 membership-block__list">
            <li class="membership-block__list-item">Apply for <span class="font-sf-semibold">Unlimited</span> Jobs</li>
            <li class="membership-block__list-item">Post <span class="font-sf-semibold">Unlimited</span> Jobs</li>
            <li class="membership-block__list-item">Profile/Portfolio</li>
            <li class="membership-block__list-item">Find/Search for Jobs</li>
            <li class="membership-block__list-item">Crew Payments</li>
            <li class="membership-block__list-item">Crew Contracts</li>
            <li class="membership-block__list-item">Insurance on Jobs</li>
            <li class="membership-block__list-item">Android & iOS App</li>
          </ul>
        </div>

        <div class="membership-block membership-block-register"
             [ngClass]="disabledClass"
             (click)="selectMembershipType(membershipTypeEnum.ANNUAL)">

          <div class="membership-block__header">

            <h3 class="membership-block__subheader">ANNUAL</h3>

            <span class="membership-block__price">$120 AUD</span>
          </div>

          <ul class="list-unstyled mt-12 membership-block__list">
            <li class="membership-block__list-item">Save $70</li>
            <li class="membership-block__list-item">Apply for <span class="font-sf-semibold">Unlimited</span> Jobs</li>
            <li class="membership-block__list-item">Post <span class="font-sf-semibold">Unlimited</span> Jobs</li>
            <li class="membership-block__list-item">Profile/Portfolio</li>
            <li class="membership-block__list-item">Find/Search for Jobs</li>
            <li class="membership-block__list-item">Crew Payments</li>
            <li class="membership-block__list-item">Crew Contracts</li>
            <li class="membership-block__list-item">Insurance on Jobs</li>
            <li class="membership-block__list-item">Android & iOS App</li>
          </ul>
        </div>
      </div>

      <div class="flex flex-direction-row flex-justify-space-center flex-wrap">
        <button class="back-btn btn full-width-xs mb-xs-24 membership-step--button" (click)="goToPreviousStep()">Back to membership terms
        </button>
      </div>

    </mat-card-content>
  </mat-card>
</section>
<!--End of select membership type step-->

<zu-svg-icons></zu-svg-icons>
