<div class="main-height flex flex-align-center flex-justify-space-center flex-wrap public-page-backgroud">
  <mat-card>
    <mat-card-content class="main-content-padding">

      <!-- LOGIN FORM-->
      <div class="flex flex-justify-space-between flex-align-end flex-wrap">

        <div class="full-width-xs">

          <!--Page logo-->
          <div class="logo-container">
            <!--LOGO VERTICAL WHITE-->
            <svg class="logo-horizontal hide-xs" width="318px" height="171px" viewBox="0 0 318 171">
              <use xlink:href="#logo-vertical-white"></use>
            </svg>

            <!--LOGO VERTICAL WHITE COMPLEX-->
            <svg class="logo-complex" width="231px" height="124px" viewBox="0 0 231 124">
              <use xlink:href="#logo-vertical-white-complex"></use>
            </svg>
          </div>


          <!--Login with Google-->
          <zu-google-sign-in [isMobile]="isMobile" [actionButtonText]="'Login with Google'"></zu-google-sign-in>

          <ng-container *ngIf="isMobile === true">
            <ng-content></ng-content>
          </ng-container>

          <ng-container *ngIf="isMobile !== true">

            <!--Login in with Facebook-->
            <zu-facebook-sign-in [actionButtonText]="'Login with Facebook'"></zu-facebook-sign-in>

          </ng-container>

        </div>

        <!--Vertical line ceparator-->
        <div class="vertical-line-block hide-xs"></div>

        <div class="full-width-xs">

          <form (submit)="login()" novalidate>
            <ul class="list-unstyled full-width-xs">
              <li class="mb-12">
                <input type="email"
                       matInput
                       [(ngModel)]="loginForm.email"
                       placeholder="E-mail"
                       class="input-transparent login-field"
                       maxlength="254"
                       [ngModelOptions]="{standalone: true}">
              </li>
              <li class="mb-24">
                <input type="password"
                       matInput
                       [(ngModel)]="loginForm.password"
                       placeholder="Password"
                       class="input-transparent password-field"
                       maxlength="60"
                       [ngModelOptions]="{standalone: true}">
              </li>
              <li>
                <button type="submit" mat-raised-button color="primary" class="button sign-in-btn">
                  let's go
                </button>
              </li>
            </ul>
          </form>

          <!--Buttons: Forgot password and Rigister form-->
          <div class="mt-24">
            <div class="push-left ml-6">
              <a class="link-default--login-page" routerLink="/forgot">Forgot password?</a>
            </div>
            <div class="push-right mr-6">
              <a class="link-default--login-page" routerLink="/register" *ngIf="isMobile === false">Join the Zu</a>
            </div>
          </div>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</div>

<zu-svg-icons></zu-svg-icons>
