<ion-content>

  <zu-register [mobile]="true">

    <!--Button: Login with Google-->
    <div class="full-width mb-12">
      <button type="button" mat-raised-button color="default" class="button google-btn" (click)="registerGoogle()">
        Login with Google
      </button>
    </div>

    <!--Button: Login with Facebook-->
    <div class="full-width mb-24">
      <button type="button" mat-raised-button color="default" class="button facebook-btn" (click)="registerFacebook()">
        Login with Facebook
      </button>
    </div>
  </zu-register>

</ion-content>
