@import "../../../../assets/scss/variables";

.button-bottom {
  min-width: 158px;

  &.button-back {
    background:     $color-black;
    color:          $color-white;
    text-transform: uppercase;
    font-weight:    bold;
  }
}