<div class="main-height flex-container public-page-backgroud main-content-padding">
  <mat-card>
    <mat-card-content>

      <h1 class="text-white">Sorry - The server is temporarily unavailable whilst we install an update.</h1>
      <h1 class="text-white">We will be back shortly.</h1>

      <button mat-raised-button
              type="button"
              color="primary"
              class="button button-reload full-width-xs"
              (click)="reload()">
        Reload
      </button>

    </mat-card-content>
  </mat-card>
</div>