@import "../../../../assets/scss/core";
@import "../../../../assets/scss/variables";
@import "../../../../assets/scss/mixins";

.drag-n-drop-zone {
  position: relative;
  padding:  0;
  border:   1px solid transparent;
  z-index:  2;

  &:not(.drop-zone-container) {
    @include transition(padding);
  }

  .dnd-drop-place {
    display:         none;
    position:        absolute;
    top:             1px;
    right:           1px;
    bottom:          1px;
    left:            1px;
    background:      rgba(255, 255, 255, 0.75);
    z-index:         1;
    justify-content: center;
    align-items:     center;
  }

  &__on {
    display: none;
  }

  &__off {
    display: block;

    &.flex {
      display: flex;
    }
  }

  &__tips {
    display:         flex;
    justify-content: center;
    flex-wrap:       wrap;
    align-items:     center;
    position:        absolute;
    top:             0;
    right:           0;
    bottom:          0;
    left:            0;
    z-index:         2;
  }

  //&__hover {
  &.dz-drag-hover,
  &__hover {
    padding-left: 15px;
    border:       1px solid $color-blue;

    &:before {
      content:  '';
      display:  block;
      position: absolute;
      top:      0;
      right:    0;
      bottom:   0;
      left:     0;
      opacity:  0;
      z-index:  3;
    }

    &:after {
      content:          '';
      display:          flex;
      position:         absolute;
      top:              0;
      right:            0;
      bottom:           0;
      left:             0;
      background-color: $color-blue_opacity-20;
      z-index:          1;
      justify-content:  center;
      align-items:      center;
    }

    & .drag-n-drop-zone__on {
      display: block;
    }

    & .drag-n-drop-zone__off {
      display: none;
    }
  }

  &__active.drag-n-drop-zone__hover {
    &:after {
      background-color: $color-blue_opacity-50;
    }
  }

}

::shadow .dz-preview,
.dz-preview {
  display: none !important;
}

.svg-shadow {
  -webkit-filter: drop-shadow(0px 2px 2px $color-grey-dark);
  filter:         drop-shadow(0px 2px 2px $color-grey-dark);
}

.drop-zone-container {
  min-height:      112px;
  border:          1px dashed $color-blue;
  border-radius:   6px;
  display:         flex;
  justify-content: center;
  align-items:     center;
}

.dropzone-header-container {
  line-height: 1;
}

.dropzone-header {
  font-size: 13px;
  color:     $color-blue;
}