<div class="app-slide-wrapper">
  <div class="app-slide-text">
    Download the Shootzu App<br>
    for Android and iOS devices
  </div>

  <button class="slide-buttons app-store-button">
    <a target="_blank" class="slide-links" href="https://itunes.apple.com/au/app/shootzu/id1439783463?mt=8"></a>
  </button>
  <button class="slide-buttons google-play-button">
    <a target="_blank" class="slide-links" href="https://play.google.com/store/apps/details?id=com.shootzu.shootzu&hl=en"></a>
  </button>
</div>
