@import "../../../../../assets/scss/variables";

.app-slide-wrapper {
  height:          100%;
  padding:         30px 0 0 100px;
  background:      $color-blue url("../../../../../assets/images/slides-background/app_slide_background-min.jpg") center;
  background-size: cover;

  @media screen and (max-width: $xsMaxWidth) {
    padding: 20px;
  }
}

.app-slide-text {
  font-size:     24px;
  font-family:   $font-sf-normal;
  color:         $color-white;
  margin-bottom: 24px;
}

.slide-buttons {
  border:          none;
  min-height:      39px;
  min-width:       131px;
  background-size: cover;
  cursor:          pointer;

  &.app-store-button {
    background:   url("../../../../../assets/images/slides-background/slide-buttons-background/app_store_btn_background.png");
    margin-right: 24px;
  }

  &.google-play-button {
    background: url("../../../../../assets/images/slides-background/slide-buttons-background/google_play_btn-background.png");
  }
}

.slide-links {
  display:    block;
  min-height: 29px;
  min-width:  100%;
}