<div class="mb-24 mt-24">
  <!-- Continue button -->
  <button type="button" mat-raised-button *ngIf="step === 0" class="button-primary full-width-xs" (click)="nextHandler()">
    Continue
  </button>

  <!-- Back button -->
  <button type="button" mat-raised-button *ngIf="step === 1" class="button-primary button-grey full-width-xs" (click)="backHandler()">
    Edit details
  </button>

  <!-- Submit button -->
  <button type="button"
          mat-raised-button
          *ngIf="step === 1"
          class="button-primary full-width-xs"
          (click)="submitHandler()"
          [disabled]="isTermsNotAccepted || isRequestInProgress">
    {{setButtonText()}}
  </button>
</div>