<div class="input-group full-width-xs" [ngClass]="{'small': small}">
  <input title="{{type}}"
         type="text"
         class="input input-zu"
         [attr.placeholder]="placeholder || ''"
         [(ngModel)]="modelValue"
         [textMask]="{mask: mask, guide: guide, placeholderChar: placeholderChar}"
         (ngModelChange)="changeHandler()"
         (blur)="blurHandler()">

  <div class="input-group__append">
    <div class="input-group__text" [ngClass]="{'box-column': column}">
      <button (click)="changeValue(inputChangeTypeEnum.INCREMENT)" class="input-group__text--button pointer">+</button>
      <button (click)="changeValue(inputChangeTypeEnum.DECREMENT)" class="input-group__text--button pointer">-</button>
    </div>
  </div>
</div>
