<zu-header></zu-header>

<section class="main-height flex flex-justify-space-center flex-wrap admin-page-backgroud">

  <div class="container box-padding">

    <zu-profile-view-header-buttons [user]="userProfileData" [userId]="userId"></zu-profile-view-header-buttons>

    <zu-profile-summary [profile]="userProfileData"
                        [showAccordion]="true"></zu-profile-summary>


    <zu-profile-details [profile]="userProfileData" [showPrivateData]="true"></zu-profile-details>

    <zu-profile-feedback [profileId]="profileId" [feedbackQuantity]="userProfileData?.feedbackQuantity"></zu-profile-feedback>


    <div class="flex flex-align-stretch flex-wrap mt-24"
         *ngIf="userProfileData?.status === userStatus.PENDING || userProfileData?.status === userStatus.EDITED">
      <button mat-raised-button class="admin-btn admin-btn-approve push-left full-width-xs" (click)="approveProfile()"
              [disabled]="isRequestInProgress">Approve
      </button>
      <button mat-raised-button class="admin-btn admin-btn-decline push-left full-width-xs" *ngIf="!isCommentFieldVisible"
              (click)="showCommentField()" [disabled]="isRequestInProgress">Decline
      </button>
      <div class="admin-feedback full-width-xs mb-24"
           *ngIf="isCommentFieldVisible"
           [formGroup]="adminCommentForm">
        <input type="text" class="input admin-comment-field full-width-xs" placeholder="Reason" formControlName="comment" required>

        <svg role="button" width="29px" height="35px" viewBox="0 0 21 18" class="send-comment-icon" (click)="sendDeclineFeedback()">
          <use xlink:href="#send-icon"></use>
        </svg>
      </div>
    </div>

    <div class="mt-24">
      <button type="button"
              mat-raised-button
              class="button-primary button-grey button-short full-width-xs"
              *ngIf="userProfileData?.status !== userStatus.PENDING && userProfileData?.status !== userStatus.EDITED"
              [routerLink]="['/admin']">
        Back to User List
      </button>
    </div>
  </div>
</section>
