<ul class="list-unstyled">
  <li class="flex flex-align-center mb-12" *ngFor="let subscription of subscriptions;">
    <ng-container *ngIf="subscription?.subscriptionStatus !== subscriptionStatusEnum.CANCELLED">
      <label class="label label-big  membership-type-label">{{subscription?.subscriptionType}}</label>

      <label class="label membership-status-label">{{getSubscriptionStatus(subscription)}}</label>

      <button class="resource-link button-membership text-nowrap" (click)="openSubscriptionDetailsModal(subscription)">view details >
      </button>
    </ng-container>
  </li>
</ul>
