@import "../../../../assets/scss/variables";

.membership-type-label {
  min-width:   30%;
  font-family: $font-sf-normal;
  color:       $color-grey;

  @media screen and (max-width: $xsMaxWidth) {
    width: 100%;
  }
}

.membership-status-label {
  flex:        1;
  color:       $color-purple;
  font-family: $font-sf-normal;

  @media screen and (max-width: $xsMaxWidth) {
    display: none;
  }
}

.button-membership {
  padding:    0;
  background: none;
  border:     none;
}