<div *ngIf="!hideOnMobile" class="header flex flex-align-center flex-justify-space-between" [ngClass]="{'header-mobile': show}">
  <!--HEADER LOGO-->
  <div>
    <a class="header-logo-content" routerLink="/dashboard" title="Dashboard">
      <svg class="header-logo-min" width="39px" height="39px" viewBox="0 0 44 44">
        <use xlink:href="#header-logo"></use>
      </svg>
      <span class="header-title hide-md">Shootzu</span>
    </a>
  </div>

  <ng-container *ngIf="isUser !== false">
    <div class="navbar-menu hide-iPad">
      <ul class="list-unstyled flex flex-justify-flex-end flex-align-center">
        <li class="navbar-menu-list-item">

          <button class="menu-url dropdown-be-crew" [routerLink]="['/find-job']">BE CREW</button>

          <img src="../../../assets/images/header-icons/arrow-bottom.svg"
               alt="arrow-bottom"
               class="popup-arrow vertical-align-middle">

          <div class="dropdown-content__be-crew">
            <span class="dropdown-content__item--empty"></span>
            <div class="box-shadow">
              <a [routerLink]="['/find-job']" class="dropdown-content__item">Find Jobs</a>
              <a [routerLink]="['/find-job']" [queryParams]="{tab: 'my'}" class="dropdown-content__item">My Applications</a>
              <a [routerLink]="['/find-job']" [queryParams]="{tab: 'active'}" class="dropdown-content__item">Active Jobs</a>
              <a [routerLink]="['/find-job']" [queryParams]="{tab: 'archived'}" class="dropdown-content__item">Archived Jobs</a>
            </div>
          </div>
        </li>

        <li class="navbar-menu-list-item">

          <button class="menu-url dropdown-find-crew" [routerLink]="['/jobs']">FIND CREW</button>

          <img src="../../../assets/images/header-icons/arrow-bottom.svg"
               alt="arrow-bottom"
               class="popup-arrow vertical-align-middle">

          <div class="dropdown-content__find-crew">
            <span class="dropdown-content__item--empty"></span>
            <div class="box-shadow">
              <a [routerLink]="['/job']" class="dropdown-content__item">Create New Job</a>
              <a [routerLink]="['/jobs']" [queryParams]="{tab: 'pending'}" class="dropdown-content__item">Pending Jobs</a>
              <a [routerLink]="['/jobs']" [queryParams]="{tab: 'active'}" class="dropdown-content__item">Active Jobs</a>
              <a [routerLink]="['/jobs']" [queryParams]="{tab: 'archived'}" class="dropdown-content__item">Archived Jobs</a>
            </div>
          </div>
        </li>

        <li class="navbar-menu-list-item">
          <a routerLink="/toolkit" class="menu-url">TOOLKIT</a>
        </li>
      </ul>
    </div>

    <div class="flex hide-iPad">
      <div class="header-vertical-line"></div>

      <zu-header-messages class="ring"></zu-header-messages>

      <div class="header-vertical-line"></div>

      <zu-header-notifications class="ring" (jobEditedEmitter)="emitJobEditNotification()"></zu-header-notifications>

      <div class="header-vertical-line"></div>

    </div>

  </ng-container>

  <div *ngIf="isUser === false" class="navbar-menu admin-menu hide-iPad">
    <ul class="list-unstyled flex flex-justify-space-center">
      <li class="navbar-menu-list-item">
        <a routerLink="/admin-reports" class="menu-url">REPORTS</a>
      </li>

      <li class="navbar-menu-list-item">
        <a routerLink="/admin" class="menu-url">USERS</a>
      </li>

      <li class="navbar-menu-list-item">
        <a routerLink="/job-management" class="menu-url">JOBS</a>
      </li>
    </ul>
  </div>

  <!--hide-iPad-->
  <div class="user-photo-min flex flex-align-center hide-iPad">

    <div class="flex flex-align-center mr-16 pointer hello-container"
         #popuptoggle
         [ngClass]="{'open': isPopupOpen}"
         (click)="togglePopup()">
      <div>
        <p class="mr-8">Hello <span class="header-user-name">{{user?.firstName}}</span></p>
      </div>

      <div class="flex mr-12">
        <img src="../../../assets/images/header-icons/arrow-bottom.svg"
             alt="arrow-bottom"
             class="popup-arrow"
             [ngClass]="{'arrow-open': isPopupOpen}">
      </div>
    </div>


    <div class="user-manage-popup" #popup [hidden]="!isPopupOpen">

      <div class="user-photo-min flex flex-align-center">
        <div class="avatar-container align-center" [ngStyle]="setUserAvatar()">
          <div *zuAdminOnly class="admin-icon">

            <!--Admin thumbnail icon-->
            <svg width="16px" height="16px" viewBox="0 0 16 16">
              <use xlink:href="#Admin-icon"></use>
            </svg>
          </div>
        </div>
        <div class="flex-direction-column">
          <span class="flex">{{user?.firstName}} {{user?.lastName}}</span>
          <p title="{{user?.address}}" class="user-address" *zuUserOnly>{{user?.address}}</p>
        </div>
      </div>

      <div class="horizontal-line-separator"></div>

      <ul class="user-manage-popup__list list-unstyled">
        <li routerLink="{{getProfileRedirectUrl()}}" class="profile flex pointer mt-12" *zuUserOnly>
          <img class="ml-24 mr-8" src="../../../assets/images/input-icons/business-user2.svg" alt="profile">

          <span>Profile</span>
        </li>

        <li routerLink="/business-profile" class="profile flex pointer" *zuUserOnly>
          <img class="ml-24 mr-8" src="../../../assets/images/header-icons/profile.svg" alt="profile">

          <span>Business profile</span>
        </li>

        <li routerLink="/settings" class="settings flex pointer mb-12" *zuUserOnly>
          <img class="ml-24 mr-8" src="../../../assets/images/header-icons/settings.svg" alt="settings">

          <span>Settings</span>
        </li>
      </ul>

      <div class="horizontal-line-separator"></div>

      <li routerLink="/logout" class="sign-out full-width flex pointer mt-12 mb-12">
        <img class="ml-24 mr-8" src="../../../assets/images/header-icons/sign-out.svg" alt="sign-out">

        <span>Sign out</span>
      </li>

    </div>
  </div>

  <!--show-iPad-->
  <div #burgertoggle class="show-iPad toggle-button" (click)="togglePopup()">
    <mat-icon class="mat-icon material-icons" role="img" aria-hidden="true">
      {{ isPopupOpen ? 'close' : 'menu' }}
    </mat-icon>
  </div>

  <!--XS menu for users-->
  <div class="show-iPad content" #burgertoggle [ngClass]="isPopupOpen ? 'opened' : 'hidden' " *zuUserOnly>
    <div class="iPad-menu" #ipadmenu>
      <zu-header-messages class="ring icon" (click)="hidePopup()"></zu-header-messages>
      <zu-header-notifications class="ring icon"></zu-header-notifications>
      <button class="settings flex icon ring" routerLink="/settings" (click)="hidePopup()">
        <img src="../../../assets/images/header-icons/settings-on-phone.svg" alt="settings">
      </button>
    </div>

    <ul class="navbar-small-menu">
      <li class="navbar-small-menu-list-item">
        <a routerLink="/find-job" [routerLinkActive]="['is-active']" class="menu-url">BE CREW</a>
      </li>
      <li class="navbar-small-menu-list-item">
        <a routerLink="/jobs" [routerLinkActive]="['is-active']" class="menu-url">FIND CREW</a>
      </li>
      <li class="navbar-small-menu-list-item">
        <a routerLink="/toolkit" [routerLinkActive]="['is-active']" class="menu-url">TOOLKIT</a>
      </li>
      <li class="navbar-small-menu-list-item">
        <a routerLink="{{getProfileRedirectUrl()}}" [routerLinkActive]="['is-active']" class="menu-url">MY PROFILE</a>
      </li>
      <li class="navbar-small-menu-list-item">
        <a routerLink="/business-profile" [routerLinkActive]="['is-active']" class="menu-url">BUSINESS PROFILE</a>
      </li>
      <li class="navbar-small-menu-list-item">
        <a routerLink="/logout" class="menu-url red">LOGOUT</a>
      </li>
    </ul>
  </div>

  <!--XS menu for admin-->
  <div class="show-iPad content content--admin flex-direction-column"
       #burgertoggle
       #ipadmenu
       (click)="hidePopup()"
       [ngClass]="isPopupOpen ? 'opened' : 'hidden' "
       *zuAdminOnly>
    <ul class="navbar-small-menu">
      <li class="navbar-small-menu-list-item">
        <a routerLink="/admin-reports" class="menu-url">REPORTS</a>
      </li>
      <li class="navbar-small-menu-list-item">
        <a routerLink="/admin" class="menu-url">USERS</a>
      </li>
      <li class="navbar-small-menu-list-item">
        <a routerLink="/job-management" class="menu-url">JOB OFFERS</a>
      </li>
      <li class="navbar-small-menu-list-item">
        <a routerLink="/logout" class="menu-url red">LOGOUT</a>
      </li>
    </ul>
  </div>
</div>

<zu-svg-icons></zu-svg-icons>