@import "../../app.component";

$header-height: 80px;

.header {
  -webkit-box-shadow: 0 10px 19px -8px rgba(163, 160, 163, 0.58);
  -moz-box-shadow:    0 10px 19px -8px rgba(163, 160, 163, 0.58);
  box-shadow:         0 10px 19px -8px rgba(163, 160, 163, 0.58);
  height:             $header-height;
  position:           fixed;
  top:                0;
  left:               0;
  right:              0;
  z-index:            99;
  background:         $color-white;
  font-family:        $font-sf-normal;
}

.header-logo-content {
  display:         flex;
  flex-direction:  row;
  text-decoration: none;
}

.header-title {
  margin:      auto;
  font-family: $font-sf-semibold;
  font-size:   $font-title-2-md;
  color:       $color-grey-1
}

.header-user-name {
  color: $color-purple-2;
}

.user-manage-popup {
  $popup-height: 400px;
  $popup-head-height: 30px;
  $popup-footer-height: 30px;
  $arrow-width: 5px;
  $arrow-height: 6px;
  $arrow-right-offset: 32px;
  position:         absolute;
  display:          flex;
  flex-wrap:        wrap;
  width:            250px;
  max-width:        80vw;
  max-height:       $popup-height;
  right:            10px;
  top:              calc(100% - 8px);
  border:           1px solid $color-white-light;
  border-radius:    5px;
  background-color: $color-white;
  box-shadow:       0 3px 10px 0 rgba(0, 0, 0, 0.18);

  &__list {
    display:    block;
    width:      100%;
    overflow:   auto;
    height:     100%;
    max-height: calc(#{$popup-height - $popup-head-height - $popup-footer-height});
  }
}

.horizontal-line-separator {
  flex-basis: 100%;
  height:     1px;
  background: $color-grey-dark;
}

.profile,
.settings,
.sign-out {
  padding: 7px;

  &:hover {
    background: $color-grey-light-hover;
  }
}

/*iPadBreakPoint - variable for iPad size*/
$iPadBreakPoint: 627px;

.show-iPad {
  &.toggle-button {
    display:     none;
    margin-left: auto;

    .mat-icon {
      color:     $color-black;
      font-size: 33px;
      width:     unset;
      height:    unset;
      padding:   20px;
    }

    @media screen and (max-width: $iPadBreakPoint) {
      display: flex;
    }
  }

  &.content {
    display:          none;
    position:         fixed;
    width:            100%;
    bottom:           0;
    top:              80px;
    right:            0;
    left:             0;
    background-color: $color-white;
    transition:       .2s;

    .menu-url {
      align-self: center;
    }

    .iPad-menu {
      display:         flex;
      justify-content: space-around;
    }

    .icon {
      padding:         5px;
      min-height:      66px;
      min-width:       66px;
      border-radius:   50%;
      display:         flex;
      align-items:     center;
      justify-content: center;

      &.settings {
        background: none;
        border:     none;
        display:    block;
      }

      &:hover {
        background: $color-grey-light-hover;
      }
    }

    @media screen and (max-width: $iPadBreakPoint) {
      display: block;
    }

    &.opened {
      opacity: 1;
      height:  100%;
    }

    &.hidden {
      opacity:  0;
      height:   0;
      overflow: hidden;
      bottom:   1000px;
    }
  }
}

.hide-iPad {

  @media screen and (max-width: $iPadBreakPoint) {
    display: none;
  }
}

.header-mobile {
  .show-iPad {
    &.toggle-button {
      display: block;
    }
    &.content {
      display:     flex;
      flex-wrap:   wrap;
      align-items: flex-start;
    }
  }

  .hide-iPad {
    display: none;
  }

  .navbar-small-menu {
    flex:   1 1 100%;
    height: 100%;
  }

  .iPad-menu {
    flex: 1 1 100%;
  }
}

.header-logo-min {
  margin: 0 15px 0 25px;
}

.material-icons {
  font-size: $icon-default;
  color:     $color-purple;
  padding:   5px;
}

.navbar-menu {
  flex-basis: 50%;

  &.admin-menu {
    flex-basis: 80%;
  }
}

.navbar-menu-list-item {
  margin-right: 3.5vw;
  white-space:  nowrap;
  position:     relative;
  cursor:       pointer;
  font-size:    16px;

  &:hover {
    text-decoration: underline;

    .dropdown-content__be-crew {
      display: block;
    }

    .popup-arrow {
      transform: rotate(180deg);
    }

    .dropdown-content__find-crew {
      display: block;
    }
  }
}

.dropdown-content {
  &__be-crew,
  &__find-crew {
    display:    none;
    position:   absolute;
    right:      -26px;
    width:      140px;
    text-align: center;

    .box-shadow {
      border-radius: 5px;
      box-shadow:    0px 2px 10px 3px rgba(0, 0, 0, 0.1)
    }
  }

  &__be-crew {
    right: -26px;
  }

  &__find-crew {
    right: -17px;
  }

  &__item {
    display:         block;
    padding:         15px 10px;
    cursor:          pointer;
    font-size:       14px;
    text-align:      left;
    text-decoration: none;
    color:           $color-black;
    background:      $color-white;

    &--empty {
      visibility: hidden;
      height:     12px;
      display:    block;
    }

    &:first-child {
      border-top-left-radius:  5px;
      border-top-right-radius: 5px;
    }

    &:last-child {
      border-bottom-left-radius:  5px;
      border-bottom-right-radius: 5px;
    }

    &:hover {
      background: $color-grey-light-hover;
    }
  }
}

.header-vertical-line {
  min-width:  1px;
  height:     $header-height;
  background: $color-grey-light-hover;
  margin:     0 7px;
}

.user-photo-min {

  .avatar-container {
    min-height:      40px;
    min-width:       40px;
    background:      $color-grey center;
    border-radius:   50%;
    margin:          15px 10px 15px 30px;
    position:        relative;
    background-size: cover;
  }
}

.user-address {
  color:         $color-grey-lighter;
  font-size:     14px;
  max-width:     160px;
  display:       block;
  overflow:      hidden;
  white-space:   nowrap;
  text-overflow: ellipsis;
  margin:        0;
}

.admin-icon {
  right:    -3px;
  bottom:   -4px;
  position: absolute;
}

.menu-url {
  text-decoration: none;
  color:           $color-grey;

  &.dropdown-be-crew,
  &.dropdown-find-crew {
    background:   none;
    border:       none;
    text-align:   left;
    padding:      0;
    margin-right: 4px;
    cursor:       pointer;
  }
}

.ring {
  display: block;
}

.navbar-small-menu {
  list-style-type: none;
  text-align:      center;
  justify-content: space-between;
  padding:         0;

  .menu-url {
    padding:   18px 5px;
    display:   block;
    font-size: 16px;
  }
}

.navbar-small-menu-list-item {
  margin: 5px 0;

  &:active {
    background: $color-grey-light-hover;
  }

  &:first-child {
    margin-top: 0;
  }
}

.popup-arrow {
  @include transition(transform);

  &.arrow-open {
    transform: rotate(180deg);
  }
}

.red {
  color: $color-coral-1;
}

.is-active {
  color: $color-blue-1;
}