@import "../../../../assets/scss/variables";

.renew-modal-buttons,
.renew-modal-link {
  background:    none;
  border:        1px solid $color-grey-dark;
  margin:        10px;
  padding:       20px;
  border-radius: 5px;
  cursor:        pointer;
  min-width:     210px;
  text-align:    center;

  &:hover {
    background: $color-white-lightest;
  }
}

.renew-modal-link {
  text-decoration: none;
  color:           $color-black;
}

.close-modal-button {
  background: none;
  border:     none;
  cursor:     pointer;
  position:   absolute;
  top:        0;
  right:      0;
}

.renew-modal-icon {
  display: block;
  margin:  6px auto;
}
