@import "../../../app.component";
@import "../../../../assets/scss/variables";
@import "../../../../assets/scss/mixins";

.icon-wrapper {

  &:after {
    content:    '';
    box-shadow: 0 1px 20px 7px rgba(0, 0, 0, 0.1);
    display:    block;
    width:      68px;
    margin:     9px auto;
  }
}

.main-title {
  margin:      31px 0 0 0;
  font-size:   $font-title-2-sm;
  font-family: $font-sf-normal;
  color:       $color-grey-1;
}

.main-text {
  font-family: $font-sf-light;
}

.main-footer {
  font-family: $font-sf-light;
  font-size:   12px;

  .main-footer__horizontal-line {
    height:           2px;
    background-color: $color-blue-1;
    width:            31px;
    opacity:          .3;
    margin:           32px auto;
  }

  .facebook-link {
    color:   $color-grey-dark-1;
    padding: 5px;
  }
}