@import "../../../assets/scss/mixins";
@import "../../../assets/scss/variables";

$gallery-item-border-radius: 5px;
$gallery-offset: 5px;

.horizontal-separator {
  background: $color-white-lightest;
  height:     1px;
  margin:     28px 0;
}

.gallery-wrapper {
  margin: -2 * $gallery-offset;
}

.gallery-container {
  display:    flex;
  overflow-y: hidden;
  overflow-x: auto;
  padding:    0 0 5px;

  &.open {
    flex-wrap: wrap;
  }
}

.gallery-item {
  $el-size: 178px + $gallery-offset;
  width:         $el-size;
  height:        $el-size;
  min-width:     $el-size;
  min-height:    $el-size;
  margin:        $gallery-offset;
  padding:       $gallery-offset;
  border-radius: $gallery-item-border-radius;
  overflow:      hidden;

  .gallery-image {
    width:             100%;
    height:            100%;
    border-radius:     $gallery-item-border-radius;
    background-color:  $color-grey-light-for-chips;
    background-size:   cover;
    background-repeat: no-repeat;
    transform:         scale(1);
    box-shadow:        0 0 0 transparent;
    border:            none;
    cursor:            pointer;
    @include transition2item(transform, box-shadow);
  }

  &:hover {
    overflow: visible;

    .gallery-image {
      transform:  scale(1.07);
      box-shadow: 1px 1px 2px $color-grey;
    }
  }

}
