<label class="label mt-12 mb-36" *ngIf="galleryPhotos?.length === 0">
  No photos.
</label>

<div class="gallery-wrapper" *ngIf="photos?.length > 0">
  <ul class="list-unstyled gallery-container" [ngClass]="{open: isGalleriaOpen}">
    <li class="gallery-item" *ngFor="let photo of galleryPhotos; let index = index">
      <img #img [attr.src]="photo.size200 || photo.url" alt="gallery image {{index}}" hidden (load)="onGalleryImageUploadHandler(index, img)">
      <button class="gallery-image" [ngStyle]="setBackgroundImage(photo)" (click)="openDialog(index)"></button>
    </li>
  </ul>

  <div class="align-right">
    <button class="label top-label toggle-button" (click)="toggleGallery()">
      {{isGalleriaOpen ? 'show less' : 'view all'}}
    </button>
  </div>
</div>

<div class="horizontal-separator full-width"></div>