<h1 matDialogTitle class="mb-12 align-center">Membership Details</h1>

<mat-dialog-content class="mb-24 align-center" *ngIf="data?.subscriptionStatus === subscriptionStatusEnum.FUTURE">
  <span class="bold">{{data?.subscriptionType}}</span> membership will be active from
  <span class="blue text-nowrap">{{data?.dateFrom | zuDate}}</span>

  <span *ngIf="data?.subscriptionType !== subscriptionTypeEnum.FREE"> to
    <span class="blue text-nowrap">{{data?.dateTo | zuDate}}</span>
  </span>
</mat-dialog-content>

<mat-dialog-content class="mb-24 align-center"
                    *ngIf="data?.subscriptionStatus === subscriptionStatusEnum.ACTIVE || data?.subscriptionStatus === subscriptionStatusEnum.NON_RENEWING">
  Your current membership is <span class="bold">{{data?.subscriptionType}}</span> <br>
  <span *ngIf="data?.subscriptionType === subscriptionTypeEnum.FREE">
    You have <span class="blue">{{data?.applications}}</span> Job Applicants and <span class="blue">{{data?.jobs}}</span> Job Post remaining on the Free membership.
    Upgrade your plan for unlimited use.
  </span>

  <span *ngIf="data?.subscriptionType !== subscriptionTypeEnum.FREE && data?.subscriptionStatus !== subscriptionStatusEnum.NON_RENEWING">
    and will renew on <span class="blue text-nowrap">{{data?.dateTo | zuDate}}</span>
  </span>

  <span *ngIf="data?.subscriptionType !== subscriptionTypeEnum.FREE && data?.subscriptionStatus === subscriptionStatusEnum.NON_RENEWING">
    and will be active until <span class="blue text-nowrap">{{data?.dateTo | zuDate}}</span>
  </span>
</mat-dialog-content>

<mat-dialog-actions class="flex flex-justify-space-center flex-wrap mt-12">
  <button class="button-small button-small--default mr-12 confirm-dialog-button" matDialogClose>GO BACK</button>

  <button class="button-small button-small--danger confirm-dialog-button"
          (click)="cancelSubscription()"
          *ngIf="data?.subscriptionType !== subscriptionTypeEnum.FREE && data?.subscriptionStatus !== subscriptionStatusEnum.NON_RENEWING">
    CANCEL MEMBERSHIP
  </button>
</mat-dialog-actions>
