@import "../../../../assets/scss/variables";

.statistics-wrapper {
  background:    $color-white;
  border-radius: 5px;
}

.statistics-header {
  display:         flex;
  justify-content: space-between;
  padding:         18px 24px;
  border-bottom:   2px solid $color-grey-3;
}

.statistics-info-label {
  display:     block;
  font-family: $font-sf-light;
  font-size:   14px;
  color:       $color-grey-dark;

  .job-offer-icon {
    vertical-align: middle;
    margin-left:    4px;
  }

  .label-default {
    @media screen and (max-width: $xsMaxWidth) {
      display: none;
    }
  }

  .label-xs {
    display: none;

    @media screen and (max-width: $xsMaxWidth) {
      display:     inline;
      white-space: nowrap;
    }
  }
}

.statistics-info {
  margin:     24px 0;
  text-align: center;

  .label-statistics {
    font-size:     16px;
    font-family:   $font-sf-normal;
    margin-bottom: 24px;
  }

  .statistics-number {
    font-size:    48px;
    margin:       0 12px 24px 0;
    padding-left: 19px;
    text-align:   left;
    display:      inline-block;

    &__applicants {
      background: url("../../../../assets/images/statistics-icons/user.svg") no-repeat;
    }

    &__applied {
      background: url("../../../../assets/images/statistics-icons/shape.svg") no-repeat;
    }

    &__pending {
      background: url("../../../../assets/images/statistics-icons/time.svg") no-repeat;
    }

    &__active {
      background: url("../../../../assets/images/statistics-icons/warning.svg") no-repeat;
    }
  }

  @media screen and (max-width: $xsMaxWidth) {
    width: 100%;
  }
}

.vertical-line-separator {
  height:     45px;
  width:      2px;
  background: $color-grey-3;
}