@import "../../../../assets/scss/variables";
@import "../../../../assets/scss/mixins";

.top-offset {
  margin-top: 80px;
}

.intro-header {
  display:         flex;
  justify-content: center;
  color:           $color-white;
  background:      no-repeat center;
  background-size: cover;
  align-items:     center;
  flex-direction:  column;
  min-height:      260px;
  box-shadow:      0 4px 9px 0 rgba(0, 0, 0, 0.05);

  &--1 {
    background-color: $color-purple;
    background-image: url("../../../../assets/images/intro-header/intro-header-bg-min.png");
  }

  &--2 {
    $main-image-color: #BF6D3F;
    background-color: $main-image-color;
    background-image: url("../../../../assets/images/intro-header/header_post_job_page-min.jpg");
  }

  &--3 {
    $main-image-color: #5C6C6C;
    background-color: $main-image-color;
    background-image: url("../../../../assets/images/intro-header/be_crew_page_background-min.png");
  }

  &--4 {
    $main-image-color: #56187D;
    background-color: $main-image-color;
  }

  &__title {
    @include main-title;
    margin-bottom:  0;
    text-transform: inherit;

    &.size-L {
      font-size: 59px;
    }

    @media screen and (max-width: $xsMaxWidth) {
      font-size: 34px !important;
    }
  }

  &__sub-title {
    @include title-2;
    margin-top: 0;
  }

  &__description {
    font-size:   16px;
    font-family: $font-sf-normal;
  }
}

.header-left-image{
  display:inline-block;
  margin-right: 10px;
  position: relative;
  top: 15px;
  width: 59px;
}

.header-right-image{
  display:inline-block;
  margin-left: 10px;
  position: relative;
  top: 15px;
  width: 59px;
}

.intro-header-text{
  display: inline-block;
}

.text-container {
  padding:        20px;
  letter-spacing: -0.49px;
}

.showing-icon {
  display: none;

  @media screen and (max-width: $smMaxWidth) {
    display: block;
    margin:  0 auto;
  }

  @media screen and (max-width: $xsMaxWidth) {
    display: none !important;
  }
}
