<ul class="list-unstyled explanation">
  <li class="explanation__item">
    <div class="explanation__icon">1</div>
    <div class="explanation__text">
      <h4 class="explanation__text--header">JOB POSTED</h4>
      <p class="explanation__text--description">Your job is posted and a notification is sent to local professionals.</p>
    </div>
  </li>

  <li class="explanation__item">
    <div class="explanation__icon">2</div>
    <div class="explanation__text">
      <h4 class="explanation__text--header">VIEW APPLICANTS</h4>
      <p class="explanation__text--description">
        Browse the applicants interested and available for your job posting.
        In this step, you can also message applicants directly to ask any additional questions about their skills
      </p>
    </div>
  </li>

  <li class="explanation__item">
    <div class="explanation__icon">3</div>
    <div class="explanation__text">
      <h4 class="explanation__text--header">SEND OFFER / HIRE</h4>
      <p class="explanation__text--description">
        Send an offer to your most suitable applicant. At this point, 50% job payment will be authorised and insurance will be activated.
        The remaining balance will be taken 14 days prior the job date.
      </p>
    </div>
  </li>

  <li class="explanation__item">
    <div class="explanation__icon">4</div>
    <div class="explanation__text">
      <h4 class="explanation__text--header">PAYOUT</h4>
      <p class="explanation__text--description">When the job is completed, we’ll release payment to the crew. (no commision)</p>
    </div>
  </li>
</ul>