//@import "../../../../../assets/scss/core";
@import "../../../../assets/scss/variables";
//@import "../../../../../assets/scss/mixins";

.explanation {
  font-family: $font-sf-normal, $font-sf-semibold, $font-arial;

  &__item {
    display:     flex;
    flex-wrap:   nowrap;
    align-items: center;

    & + .explanation__item {
      margin-top: 36px;
    }
  }

  &__icon {
    flex-shrink:      0;
    height:           36px;
    width:            36px;
    background-color: $color-blue-1;
    color:            $color-white;
    font-size:        22px;
    font-weight:      600;
    letter-spacing:   0.24px;
    display:          flex;
    align-items:      center;
    justify-content:  center;
    margin-right:     16px;
    border-radius:    50px;
  }

  &__text {
    display:        inline-block;
    width:          100%;
    max-width:      695px;
    color:          $color-grey-1;
    letter-spacing: -0.25px;

    &--header {
      margin:      0;
      font-weight: 600;
      font-size:   16px;
      line-height: 19px;
    }

    &--description {
      margin:    0;
      font-size: 14px;
    }
  }
}