@import "../../../assets/scss/core";
@import "../../../assets/scss/variables";
@import "../../../assets/scss/helpers";

.choose-country {
  &__page-backgroud {
    $main--image-color: #CCCEC5;
    background:      $main--image-color url('../../../assets/images/page-background/1924-min.jpg') no-repeat left;
    background-size: cover;
    height:          100%;
    overflow-x:      hidden;
    overflow-y:      auto;
    padding:         20px;

    &:before {
      background: $color-white;
      position:   fixed;
      content:    '';
      top:        0;
      right:      0;
      bottom:     0;
      left:       0;
      opacity:    .5;
    }
  }

  &__page-content {
    max-width:  440px;
    width:      100%;
    max-height: 90vh;

    &--step-2 {
      width:     100%;
      max-width: 572px;
    }
  }

  &__logo-wrapper {
    display:   block;
    max-width: 155px;
    margin:    auto;
  }

  &__logo {
    width:  155px;
    height: 100px;
  }

  &__description {
    color:         $color-grey-2;
    font-family:   $font-sf-normal;
    font-size:     14px;
    line-height:   16px;
    text-align:    center;
    margin-bottom: 14px;
  }
}

.button-undo {
  background: $color-grey-4;
  color:      $color-white;
  margin-top: 12px;
  display:    none;

  @media screen and(max-width: $smMaxWidth) {
    display: unset;
  }
}

.autocomplete {

  &__input {
    font-family:         $font-sf-light, $font-sf-normal, $font-dual;
    background-size:     16px;
    background-repeat:   no-repeat;
    background-position: 12px 48%;
    border-radius:       5px;
    border:              1px solid $color-blue-1;
    color:               $color-black-light;
    width:               176px;
  }

  &__list {
    border-radius: 5px;
    overflow:      hidden;
  }

  &__option {
    color:       $color-black-light;
    font-family: $font-sf-light, $font-sf-normal, $font-dual;
    font-size:   14px;
    line-height: 16px;

    &:first-child {
      margin-top: 10px;
    }
    &:last-child {
      margin-bottom: 10px;
    }

    &:hover {
      background: $color-grey-light-hover;
    }
  }
}

.width-212 {
  $el-width: 212px;
  width:     $el-width;
  max-width: $el-width;
  min-width: $el-width;
}

.block-thank-you {
  width:            100%;
  padding:          65px 95px 32px;
  border-radius:    5px;
  margin-bottom:    100px;
  background-color: $color-white;
  box-shadow:       2px 2px 12px 0 $color-grey-button-disabled;
  font-family:      $font-sf-normal;
  color:            $color-grey;
  text-align:       center;

  &__title {
    font-size:   32px;
    font-weight: 300;
    line-height: 38px;
    margin-top:  0;
  }

  &__text {
    font-size:     16px;
    font-weight:   300;
    line-height:   19px;
    margin-top:    0;
    margin-bottom: 0;
  }

  &__button {
    $el-size: unset;
    height:          $el-size;
    min-height:      $el-size;
    max-height:      $el-size;
    width:           $el-size;
    max-width:       $el-size;
    min-width:       $el-size;
    padding:         6px 20px;
    margin-top:      32px;
    border:          none;
    border-radius:   5px;
    font-size:       10px;
    font-weight:     300;
    text-decoration: none;
  }

  @media screen and (max-width: $mdMaxWidth) {
    padding: 32px 24px;
  }

  @media screen and (max-width: $smMaxWidth) {
    padding: 32px 16px;
  }
}

::ng-deep .mat-autocomplete-panel {
  border-radius: 5px !important;
}

// flags sprite styles below
.flag-ad, .flag-ae, .flag-af, .flag-ag, .flag-ai,
.flag-al, .flag-am, .flag-an, .flag-ao, .flag-aq,
.flag-ar, .flag-as, .flag-at, .flag-au, .flag-aw,
.flag-ax, .flag-az, .flag-ba, .flag-bb, .flag-bd,
.flag-be, .flag-bf, .flag-bg, .flag-bh, .flag-bi,
.flag-bj, .flag-bl, .flag-bm, .flag-bn, .flag-bo,
.flag-bq, .flag-br, .flag-bs, .flag-bt, .flag-bv,
.flag-bw, .flag-by, .flag-bz, .flag-ca, .flag-cc,
.flag-cd, .flag-cf, .flag-cg, .flag-ch, .flag-ci,
.flag-ck, .flag-cl, .flag-cm, .flag-cn, .flag-co,
.flag-cr, .flag-cu, .flag-cv, .flag-cw, .flag-cx,
.flag-cy, .flag-cz, .flag-de, .flag-dj, .flag-dk,
.flag-dm, .flag-do, .flag-dz, .flag-ec, .flag-ee,
.flag-eg, .flag-eh, .flag-er, .flag-es, .flag-et,
.flag-eu, .flag-fi, .flag-fj, .flag-fk, .flag-fm,
.flag-fo, .flag-fr, .flag-ga, .flag-gb-eng, .flag-gb-nir,
.flag-gb-sct, .flag-gb-wls, .flag-gb, .flag-gd, .flag-ge,
.flag-gf, .flag-gg, .flag-gh, .flag-gi, .flag-gl,
.flag-gm, .flag-gn, .flag-gp, .flag-gq, .flag-gr,
.flag-gs, .flag-gt, .flag-gu, .flag-gw, .flag-gy,
.flag-hk, .flag-hm, .flag-hn, .flag-hr, .flag-ht,
.flag-hu, .flag-id, .flag-ie, .flag-il, .flag-im,
.flag-in, .flag-io, .flag-iq, .flag-ir, .flag-is,
.flag-it, .flag-je, .flag-jm, .flag-jo, .flag-jp,
.flag-ke, .flag-kg, .flag-kh, .flag-ki, .flag-km,
.flag-kn, .flag-kp, .flag-kr, .flag-kw, .flag-ky,
.flag-kz, .flag-la, .flag-lb, .flag-lc, .flag-li,
.flag-lk, .flag-lr, .flag-ls, .flag-lt, .flag-lu,
.flag-lv, .flag-ly, .flag-ma, .flag-mc, .flag-md,
.flag-me, .flag-mf, .flag-mg, .flag-mh, .flag-mk,
.flag-ml, .flag-mm, .flag-mn, .flag-mo, .flag-mp,
.flag-mq, .flag-mr, .flag-ms, .flag-mt, .flag-mu,
.flag-mv, .flag-mw, .flag-mx, .flag-my, .flag-mz,
.flag-na, .flag-nc, .flag-ne, .flag-nf, .flag-ng,
.flag-ni, .flag-nl, .flag-no, .flag-np, .flag-nr,
.flag-nu, .flag-nz, .flag-om, .flag-pa, .flag-pe,
.flag-pf, .flag-pg, .flag-ph, .flag-pk, .flag-pl,
.flag-pm, .flag-pn, .flag-pr, .flag-ps, .flag-pt,
.flag-pw, .flag-py, .flag-qa, .flag-re, .flag-ro,
.flag-rs, .flag-ru, .flag-rw, .flag-sa, .flag-sb,
.flag-sc, .flag-sd, .flag-se, .flag-sg, .flag-sh,
.flag-si, .flag-sj, .flag-sk, .flag-sl, .flag-sm,
.flag-sn, .flag-so, .flag-sr, .flag-ss, .flag-st,
.flag-sv, .flag-sx, .flag-sy, .flag-sz, .flag-tc,
.flag-td, .flag-tf, .flag-tg, .flag-th, .flag-tj,
.flag-tk, .flag-tl, .flag-tm, .flag-tn, .flag-to,
.flag-tr, .flag-tt, .flag-tv, .flag-tw, .flag-tz,
.flag-ua, .flag-ug, .flag-um, .flag-us, .flag-uy,
.flag-uz, .flag-va, .flag-vc, .flag-ve, .flag-vg,
.flag-vi, .flag-vn, .flag-vu, .flag-wf, .flag-ws,
.flag-xk, .flag-ye, .flag-yt, .flag-za, .flag-zm,
.flag-zw { display: inline-block; margin-right: 6px; background: url('../../../assets/images/country-flags/flags-sprite.png') no-repeat; overflow: hidden; }

.flag-ad { background-position: -1px -0px; width: 16px; height: 11px; }

.flag-ae { background-position: -18px -0px; width: 16px; height: 11px; }

.flag-af { background-position: -35px -0px; width: 16px; height: 11px; }

.flag-ag { background-position: -52px -0px; width: 16px; height: 11px; }

.flag-ai { background-position: -69px -0px; width: 16px; height: 11px; }

.flag-al { background-position: -86px -0px; width: 16px; height: 11px; }

.flag-am { background-position: -103px -0px; width: 16px; height: 11px; }

.flag-an { background-position: -120px -0px; width: 16px; height: 11px; }

.flag-ao { background-position: -137px -0px; width: 16px; height: 11px; }

.flag-aq { background-position: -154px -0px; width: 16px; height: 11px; }

.flag-ar { background-position: -171px -0px; width: 16px; height: 11px; }

.flag-as { background-position: -188px -0px; width: 16px; height: 11px; }

.flag-at { background-position: -205px -0px; width: 16px; height: 11px; }

.flag-au { background-position: -222px -0px; width: 16px; height: 11px; }

.flag-aw { background-position: -239px -0px; width: 16px; height: 11px; }

.flag-ax { background-position: -256px -0px; width: 16px; height: 11px; }

.flag-az { background-position: -1px -12px; width: 16px; height: 11px; }

.flag-ba { background-position: -18px -12px; width: 16px; height: 11px; }

.flag-bb { background-position: -35px -12px; width: 16px; height: 11px; }

.flag-bd { background-position: -52px -12px; width: 16px; height: 11px; }

.flag-be { background-position: -69px -12px; width: 16px; height: 11px; }

.flag-bf { background-position: -86px -12px; width: 16px; height: 11px; }

.flag-bg { background-position: -103px -12px; width: 16px; height: 11px; }

.flag-bh { background-position: -120px -12px; width: 16px; height: 11px; }

.flag-bi { background-position: -137px -12px; width: 16px; height: 11px; }

.flag-bj { background-position: -154px -12px; width: 16px; height: 11px; }

.flag-bl { background-position: -171px -12px; width: 16px; height: 11px; }

.flag-bm { background-position: -188px -12px; width: 16px; height: 11px; }

.flag-bn { background-position: -205px -12px; width: 16px; height: 11px; }

.flag-bo { background-position: -222px -12px; width: 16px; height: 11px; }

.flag-bq { background-position: -239px -12px; width: 16px; height: 11px; }

.flag-br { background-position: -256px -12px; width: 16px; height: 11px; }

.flag-bs { background-position: -1px -24px; width: 16px; height: 11px; }

.flag-bt { background-position: -18px -24px; width: 16px; height: 11px; }

.flag-bv { background-position: -35px -24px; width: 16px; height: 11px; }

.flag-bw { background-position: -52px -24px; width: 16px; height: 11px; }

.flag-by { background-position: -69px -24px; width: 16px; height: 11px; }

.flag-bz { background-position: -86px -24px; width: 16px; height: 11px; }

.flag-ca { background-position: -103px -24px; width: 16px; height: 11px; }

.flag-cc { background-position: -120px -24px; width: 16px; height: 11px; }

.flag-cd { background-position: -137px -24px; width: 16px; height: 11px; }

.flag-cf { background-position: -154px -24px; width: 16px; height: 11px; }

.flag-cg { background-position: -171px -24px; width: 16px; height: 11px; }

.flag-ch { background-position: -188px -24px; width: 16px; height: 11px; }

.flag-ci { background-position: -205px -24px; width: 16px; height: 11px; }

.flag-ck { background-position: -222px -24px; width: 16px; height: 11px; }

.flag-cl { background-position: -239px -24px; width: 16px; height: 11px; }

.flag-cm { background-position: -256px -24px; width: 16px; height: 11px; }

.flag-cn { background-position: -1px -36px; width: 16px; height: 11px; }

.flag-co { background-position: -18px -36px; width: 16px; height: 11px; }

.flag-cr { background-position: -35px -36px; width: 16px; height: 11px; }

.flag-cu { background-position: -52px -36px; width: 16px; height: 11px; }

.flag-cv { background-position: -69px -36px; width: 16px; height: 11px; }

.flag-cw { background-position: -86px -36px; width: 16px; height: 11px; }

.flag-cx { background-position: -103px -36px; width: 16px; height: 11px; }

.flag-cy { background-position: -120px -36px; width: 16px; height: 11px; }

.flag-cz { background-position: -137px -36px; width: 16px; height: 11px; }

.flag-de { background-position: -154px -36px; width: 16px; height: 11px; }

.flag-dj { background-position: -171px -36px; width: 16px; height: 11px; }

.flag-dk { background-position: -188px -36px; width: 16px; height: 11px; }

.flag-dm { background-position: -205px -36px; width: 16px; height: 11px; }

.flag-do { background-position: -222px -36px; width: 16px; height: 11px; }

.flag-dz { background-position: -239px -36px; width: 16px; height: 11px; }

.flag-ec { background-position: -256px -36px; width: 16px; height: 11px; }

.flag-ee { background-position: -1px -48px; width: 16px; height: 11px; }

.flag-eg { background-position: -18px -48px; width: 16px; height: 11px; }

.flag-eh { background-position: -35px -48px; width: 16px; height: 11px; }

.flag-er { background-position: -52px -48px; width: 16px; height: 11px; }

.flag-es { background-position: -69px -48px; width: 16px; height: 11px; }

.flag-et { background-position: -86px -48px; width: 16px; height: 11px; }

.flag-eu { background-position: -103px -48px; width: 16px; height: 11px; }

.flag-fi { background-position: -120px -48px; width: 16px; height: 11px; }

.flag-fj { background-position: -137px -48px; width: 16px; height: 11px; }

.flag-fk { background-position: -154px -48px; width: 16px; height: 11px; }

.flag-fm { background-position: -171px -48px; width: 16px; height: 11px; }

.flag-fo { background-position: -188px -48px; width: 16px; height: 11px; }

.flag-fr { background-position: -205px -48px; width: 16px; height: 11px; }

.flag-ga { background-position: -222px -48px; width: 16px; height: 11px; }

.flag-gb-eng { background-position: -239px -48px; width: 16px; height: 11px; }

.flag-gb-nir { background-position: -256px -48px; width: 16px; height: 11px; }

.flag-gb-sct { background-position: -1px -60px; width: 16px; height: 11px; }

.flag-gb-wls { background-position: -18px -60px; width: 16px; height: 11px; }

.flag-gb { background-position: -35px -60px; width: 16px; height: 11px; }

.flag-gd { background-position: -52px -60px; width: 16px; height: 11px; }

.flag-ge { background-position: -69px -60px; width: 16px; height: 11px; }

.flag-gf { background-position: -86px -60px; width: 16px; height: 11px; }

.flag-gg { background-position: -103px -60px; width: 16px; height: 11px; }

.flag-gh { background-position: -120px -60px; width: 16px; height: 11px; }

.flag-gi { background-position: -137px -60px; width: 16px; height: 11px; }

.flag-gl { background-position: -154px -60px; width: 16px; height: 11px; }

.flag-gm { background-position: -171px -60px; width: 16px; height: 11px; }

.flag-gn { background-position: -188px -60px; width: 16px; height: 11px; }

.flag-gp { background-position: -205px -60px; width: 16px; height: 11px; }

.flag-gq { background-position: -222px -60px; width: 16px; height: 11px; }

.flag-gr { background-position: -239px -60px; width: 16px; height: 11px; }

.flag-gs { background-position: -256px -60px; width: 16px; height: 11px; }

.flag-gt { background-position: -1px -72px; width: 16px; height: 11px; }

.flag-gu { background-position: -18px -72px; width: 16px; height: 11px; }

.flag-gw { background-position: -35px -72px; width: 16px; height: 11px; }

.flag-gy { background-position: -52px -72px; width: 16px; height: 11px; }

.flag-hk { background-position: -69px -72px; width: 16px; height: 11px; }

.flag-hm { background-position: -86px -72px; width: 16px; height: 11px; }

.flag-hn { background-position: -103px -72px; width: 16px; height: 11px; }

.flag-hr { background-position: -120px -72px; width: 16px; height: 11px; }

.flag-ht { background-position: -137px -72px; width: 16px; height: 11px; }

.flag-hu { background-position: -154px -72px; width: 16px; height: 11px; }

.flag-id { background-position: -171px -72px; width: 16px; height: 11px; }

.flag-ie { background-position: -188px -72px; width: 16px; height: 11px; }

.flag-il { background-position: -205px -72px; width: 16px; height: 11px; }

.flag-im { background-position: -222px -72px; width: 16px; height: 11px; }

.flag-in { background-position: -239px -72px; width: 16px; height: 11px; }

.flag-io { background-position: -256px -72px; width: 16px; height: 11px; }

.flag-iq { background-position: -1px -84px; width: 16px; height: 11px; }

.flag-ir { background-position: -18px -84px; width: 16px; height: 11px; }

.flag-is { background-position: -35px -84px; width: 16px; height: 11px; }

.flag-it { background-position: -52px -84px; width: 16px; height: 11px; }

.flag-je { background-position: -69px -84px; width: 16px; height: 11px; }

.flag-jm { background-position: -86px -84px; width: 16px; height: 11px; }

.flag-jo { background-position: -103px -84px; width: 16px; height: 11px; }

.flag-jp { background-position: -120px -84px; width: 16px; height: 11px; }

.flag-ke { background-position: -137px -84px; width: 16px; height: 11px; }

.flag-kg { background-position: -154px -84px; width: 16px; height: 11px; }

.flag-kh { background-position: -171px -84px; width: 16px; height: 11px; }

.flag-ki { background-position: -188px -84px; width: 16px; height: 11px; }

.flag-km { background-position: -205px -84px; width: 16px; height: 11px; }

.flag-kn { background-position: -222px -84px; width: 16px; height: 11px; }

.flag-kp { background-position: -239px -84px; width: 16px; height: 11px; }

.flag-kr { background-position: -256px -84px; width: 16px; height: 11px; }

.flag-kw { background-position: -1px -96px; width: 16px; height: 11px; }

.flag-ky { background-position: -18px -96px; width: 16px; height: 11px; }

.flag-kz { background-position: -35px -96px; width: 16px; height: 11px; }

.flag-la { background-position: -52px -96px; width: 16px; height: 11px; }

.flag-lb { background-position: -69px -96px; width: 16px; height: 11px; }

.flag-lc { background-position: -86px -96px; width: 16px; height: 11px; }

.flag-li { background-position: -103px -96px; width: 16px; height: 11px; }

.flag-lk { background-position: -120px -96px; width: 16px; height: 11px; }

.flag-lr { background-position: -137px -96px; width: 16px; height: 11px; }

.flag-ls { background-position: -154px -96px; width: 16px; height: 11px; }

.flag-lt { background-position: -171px -96px; width: 16px; height: 11px; }

.flag-lu { background-position: -188px -96px; width: 16px; height: 11px; }

.flag-lv { background-position: -205px -96px; width: 16px; height: 11px; }

.flag-ly { background-position: -222px -96px; width: 16px; height: 11px; }

.flag-ma { background-position: -239px -96px; width: 16px; height: 11px; }

.flag-mc { background-position: -256px -96px; width: 16px; height: 11px; }

.flag-md { background-position: -1px -108px; width: 16px; height: 11px; }

.flag-me { background-position: -18px -108px; width: 16px; height: 11px; }

.flag-mf { background-position: -35px -108px; width: 16px; height: 11px; }

.flag-mg { background-position: -52px -108px; width: 16px; height: 11px; }

.flag-mh { background-position: -69px -108px; width: 16px; height: 11px; }

.flag-mk { background-position: -86px -108px; width: 16px; height: 11px; }

.flag-ml { background-position: -103px -108px; width: 16px; height: 11px; }

.flag-mm { background-position: -120px -108px; width: 16px; height: 11px; }

.flag-mn { background-position: -137px -108px; width: 16px; height: 11px; }

.flag-mo { background-position: -154px -108px; width: 16px; height: 11px; }

.flag-mp { background-position: -171px -108px; width: 16px; height: 11px; }

.flag-mq { background-position: -188px -108px; width: 16px; height: 11px; }

.flag-mr { background-position: -205px -108px; width: 16px; height: 11px; }

.flag-ms { background-position: -222px -108px; width: 16px; height: 11px; }

.flag-mt { background-position: -239px -108px; width: 16px; height: 11px; }

.flag-mu { background-position: -256px -108px; width: 16px; height: 11px; }

.flag-mv { background-position: -1px -120px; width: 16px; height: 11px; }

.flag-mw { background-position: -18px -120px; width: 16px; height: 11px; }

.flag-mx { background-position: -35px -120px; width: 16px; height: 11px; }

.flag-my { background-position: -52px -120px; width: 16px; height: 11px; }

.flag-mz { background-position: -69px -120px; width: 16px; height: 11px; }

.flag-na { background-position: -86px -120px; width: 16px; height: 11px; }

.flag-nc { background-position: -103px -120px; width: 16px; height: 11px; }

.flag-ne { background-position: -120px -120px; width: 16px; height: 11px; }

.flag-nf { background-position: -137px -120px; width: 16px; height: 11px; }

.flag-ng { background-position: -154px -120px; width: 16px; height: 11px; }

.flag-ni { background-position: -171px -120px; width: 16px; height: 11px; }

.flag-nl { background-position: -188px -120px; width: 16px; height: 11px; }

.flag-no { background-position: -205px -120px; width: 16px; height: 11px; }

.flag-np { background-position: -222px -120px; width: 16px; height: 11px; }

.flag-nr { background-position: -239px -120px; width: 16px; height: 11px; }

.flag-nu { background-position: -256px -120px; width: 16px; height: 11px; }

.flag-nz { background-position: -1px -132px; width: 16px; height: 11px; }

.flag-om { background-position: -18px -132px; width: 16px; height: 11px; }

.flag-pa { background-position: -35px -132px; width: 16px; height: 11px; }

.flag-pe { background-position: -52px -132px; width: 16px; height: 11px; }

.flag-pf { background-position: -69px -132px; width: 16px; height: 11px; }

.flag-pg { background-position: -86px -132px; width: 16px; height: 11px; }

.flag-ph { background-position: -103px -132px; width: 16px; height: 11px; }

.flag-pk { background-position: -120px -132px; width: 16px; height: 11px; }

.flag-pl { background-position: -137px -132px; width: 16px; height: 11px; }

.flag-pm { background-position: -154px -132px; width: 16px; height: 11px; }

.flag-pn { background-position: -171px -132px; width: 16px; height: 11px; }

.flag-pr { background-position: -188px -132px; width: 16px; height: 11px; }

.flag-ps { background-position: -205px -132px; width: 16px; height: 11px; }

.flag-pt { background-position: -222px -132px; width: 16px; height: 11px; }

.flag-pw { background-position: -239px -132px; width: 16px; height: 11px; }

.flag-py { background-position: -256px -132px; width: 16px; height: 11px; }

.flag-qa { background-position: -1px -144px; width: 16px; height: 11px; }

.flag-re { background-position: -18px -144px; width: 16px; height: 11px; }

.flag-ro { background-position: -35px -144px; width: 16px; height: 11px; }

.flag-rs { background-position: -52px -144px; width: 16px; height: 11px; }

.flag-ru { background-position: -69px -144px; width: 16px; height: 11px; }

.flag-rw { background-position: -86px -144px; width: 16px; height: 11px; }

.flag-sa { background-position: -103px -144px; width: 16px; height: 11px; }

.flag-sb { background-position: -120px -144px; width: 16px; height: 11px; }

.flag-sc { background-position: -137px -144px; width: 16px; height: 11px; }

.flag-sd { background-position: -154px -144px; width: 16px; height: 11px; }

.flag-se { background-position: -171px -144px; width: 16px; height: 11px; }

.flag-sg { background-position: -188px -144px; width: 16px; height: 11px; }

.flag-sh { background-position: -205px -144px; width: 16px; height: 11px; }

.flag-si { background-position: -222px -144px; width: 16px; height: 11px; }

.flag-sj { background-position: -239px -144px; width: 16px; height: 11px; }

.flag-sk { background-position: -256px -144px; width: 16px; height: 11px; }

.flag-sl { background-position: -1px -156px; width: 16px; height: 11px; }

.flag-sm { background-position: -18px -156px; width: 16px; height: 11px; }

.flag-sn { background-position: -35px -156px; width: 16px; height: 11px; }

.flag-so { background-position: -52px -156px; width: 16px; height: 11px; }

.flag-sr { background-position: -69px -156px; width: 16px; height: 11px; }

.flag-ss { background-position: -86px -156px; width: 16px; height: 11px; }

.flag-st { background-position: -103px -156px; width: 16px; height: 11px; }

.flag-sv { background-position: -120px -156px; width: 16px; height: 11px; }

.flag-sx { background-position: -137px -156px; width: 16px; height: 11px; }

.flag-sy { background-position: -154px -156px; width: 16px; height: 11px; }

.flag-sz { background-position: -171px -156px; width: 16px; height: 11px; }

.flag-tc { background-position: -188px -156px; width: 16px; height: 11px; }

.flag-td { background-position: -205px -156px; width: 16px; height: 11px; }

.flag-tf { background-position: -222px -156px; width: 16px; height: 11px; }

.flag-tg { background-position: -239px -156px; width: 16px; height: 11px; }

.flag-th { background-position: -256px -156px; width: 16px; height: 11px; }

.flag-tj { background-position: -1px -168px; width: 16px; height: 11px; }

.flag-tk { background-position: -18px -168px; width: 16px; height: 11px; }

.flag-tl { background-position: -35px -168px; width: 16px; height: 11px; }

.flag-tm { background-position: -52px -168px; width: 16px; height: 11px; }

.flag-tn { background-position: -69px -168px; width: 16px; height: 11px; }

.flag-to { background-position: -86px -168px; width: 16px; height: 11px; }

.flag-tr { background-position: -103px -168px; width: 16px; height: 11px; }

.flag-tt { background-position: -120px -168px; width: 16px; height: 11px; }

.flag-tv { background-position: -137px -168px; width: 16px; height: 11px; }

.flag-tw { background-position: -154px -168px; width: 16px; height: 11px; }

.flag-tz { background-position: -171px -168px; width: 16px; height: 11px; }

.flag-ua { background-position: -188px -168px; width: 16px; height: 11px; }

.flag-ug { background-position: -205px -168px; width: 16px; height: 11px; }

.flag-um { background-position: -222px -168px; width: 16px; height: 11px; }

.flag-us { background-position: -239px -168px; width: 16px; height: 11px; }

.flag-uy { background-position: -256px -168px; width: 16px; height: 11px; }

.flag-uz { background-position: -1px -180px; width: 16px; height: 11px; }

.flag-va { background-position: -18px -180px; width: 16px; height: 11px; }

.flag-vc { background-position: -35px -180px; width: 16px; height: 11px; }

.flag-ve { background-position: -52px -180px; width: 16px; height: 11px; }

.flag-vg { background-position: -69px -180px; width: 16px; height: 11px; }

.flag-vi { background-position: -86px -180px; width: 16px; height: 11px; }

.flag-vn { background-position: -103px -180px; width: 16px; height: 11px; }

.flag-vu { background-position: -120px -180px; width: 16px; height: 11px; }

.flag-wf { background-position: -137px -180px; width: 16px; height: 11px; }

.flag-ws { background-position: -154px -180px; width: 16px; height: 11px; }

.flag-xk { background-position: -171px -180px; width: 16px; height: 11px; }

.flag-ye { background-position: -188px -180px; width: 16px; height: 11px; }

.flag-yt { background-position: -205px -180px; width: 16px; height: 11px; }

.flag-za { background-position: -222px -180px; width: 16px; height: 11px; }

.flag-zm { background-position: -239px -180px; width: 16px; height: 11px; }

.flag-zw { background-position: -256px -180px; width: 16px; height: 11px; }
