@import "../../../../assets/scss/variables";

$slider-offset: 40px;

.slider-container {
  margin-top:    36px;
  display:       flex;
  min-height:    185px;
  border-radius: 15px;
  overflow:      hidden;
  position:      relative;

  .dots-container {
    position:        absolute;
    bottom:          11px;
    left:            15px;
    display:         flex;
    justify-content: space-between;
    width:           25px;
    cursor:          pointer;

    .dot {
      width:         10px;
      height:        10px;
      border-radius: 50%;
      border:        2px solid #FFFFFF;

      &.active {
        background:     $color-white;
        pointer-events: none;
      }

      &:hover {
        background: $color-white;
      }
    }
  }

  .max-width {
    min-width: 100%;
  }

  @media screen and (max-width: $xsMaxWidth) {
    margin-right:  $slider-offset * -1;
    margin-left:   $slider-offset * -1;
    border-radius: unset;
  }
}

