@import "../../../../../assets/scss/variables";
@import "../../../../../assets/scss/mixins";

.send-offer-modal__header {
  font-size: 32px;
}

.blue-highlight {
  color:       $color-blue;
  font-family: $font-sf-semibold;
}

.send-offer-modal__description {
  font-size:   16px;
  line-height: 19px;
  display:     block;
}

.send-offer-modal__block {
  width: 47%;
}

.fs-18 {
  font-size: 18px;
}

.gocardless {
  img {
    width:      100%;
    object-fit: contain;
  }

  &:disabled {
    opacity: .4;
    cursor:  not-allowed;
  }
}

.credit-card {
  padding:          9px 10px 9px 20px;
  border-radius:    5px;
  border:           1px solid $color-white-darkest;
  background-color: $color-white-lightest;

  &__label {
    display:        inline-block;
    color:          $color-grey-lighter;
    font-family:    $font-sf-light;
    letter-spacing: 0.19px;
    line-height:    12px;
    font-size:      12px;
    padding-bottom: 4px;
  }

  &__error {
    min-height:    24px;
    margin-bottom: 12px;
    opacity:       0;
    @include transition(opacity);

    &.active {
      opacity: 1;
    }
  }

  @media screen and(max-width: $xsMaxWidth) {
    padding: 9px 0px 9px 9px;
  }
}

.button-wrapper {
  @media screen and (max-width: $mdMaxWidth) {
    flex-wrap: wrap;

    .send-offer-modal__button {
      min-width:   100%;
      margin-left: 0;
    }
  }
}

.payment-method {
  width:           45%;
  height:          135px;
  background:      $color-grey-3;
  border-radius:   10px;
  border:          1px solid $color-grey-lighter;
  cursor:          pointer;
  display:         flex;
  justify-content: center;
}

.info-payment {
  padding:        0;
  margin:         0;
  text-transform: uppercase;
  color:          #ABABAB;
}

.selected-payment {
  border-width: 3px;
}

.stripe-payment-block {
  margin:    12px auto 0;
  max-width: 400px;
}
