<h1 matDialogTitle class="mb-12 align-center">Are you sure?</h1>

<mat-dialog-content class="mb-24 align-center" *ngIf="data?.subscriptionStatus === subscriptionStatusEnum.ACTIVE">
  <span class="block mb-12">You have chosen not to renew your <span class="bold">{{data?.subscriptionType}}</span> membership.</span>

  <span class="block mb-12">On <span class="blue">{{data?.dateTo | zuDate}}</span>, it will be downgraded to the FREE plan.</span>

  <span class="block ">Upgrade at any time after {{data?.dateTo | zuDate}} through
    <span class="block mt-12">
      <span class="resource-link cursor-default">Manage Membership ></span> in Settings.</span>
  </span>

</mat-dialog-content>

<mat-dialog-content class="mb-24 align-center" *ngIf="data?.subscriptionStatus === subscriptionStatusEnum.FUTURE">
  <span class="block mb-12">You have chosen to cancel your new membership plan.</span>

  <span class="block mb-12">On <span class="blue">{{data?.dateTo | zuDate}}</span>, it will be downgraded to the FREE plan.</span>

  <span class="block ">Upgrade at any time after {{data?.dateTo | zuDate}} through
    <span class="block mt-12">
      <span class="resource-link cursor-default">Manage Membership ></span> in Settings.</span>
  </span>

</mat-dialog-content>

<mat-dialog-actions class="flex flex-justify-space-center flex-wrap mt-12 mb-0">
  <button class="button-small button-small--default mr-12 confirm-dialog-button" matDialogClose>GO BACK</button>
  <button class="button-small button-small--danger confirm-dialog-button" (click)="cancel()">CANCEL MEMBERSHIP</button>
</mat-dialog-actions>

