<svg *ngIf="arrow && key" class="mb-2" width="10px" height="5px" viewBox="0 0 10 5"
     version="1.1" xmlns="http://www.w3.org/2000/svg"
     xmlns:xlink="http://www.w3.org/1999/xlink">
  <!-- Generator: sketchtool 50.2 (55047) - http://www.bohemiancoding.com/sketch -->
  <title>2D33F96C-5E98-4813-89B9-6F9A3E7A7EDA</title>
  <desc>Created with sketchtool.</desc>
  <defs></defs>
  <g id="Find-Job" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
    <g id="Find-Job-Filters-Hidden" transform="translate(-1028.000000, -707.000000)" fill="#A8A8A8" fill-rule="nonzero">
      <g id="filter" transform="translate(1021.000000, 700.000000)">
        <g id="Group-14">
          <polygon id="dropdown-arrow-copy"
                   transform="translate(12.000000, 9.500000) rotate(540.000000) translate(-12.000000, -9.500000) "
                   points="7 7 12 12 17 7"></polygon>
        </g>
      </g>
    </g>
  </g>
</svg>

<svg *ngIf="!arrow && key" class="mb-2" width="10px" height="5px" viewBox="0 0 10 5"
     version="1.1" xmlns="http://www.w3.org/2000/svg"
     xmlns:xlink="http://www.w3.org/1999/xlink">
  <!-- Generator: sketchtool 50.2 (55047) - http://www.bohemiancoding.com/sketch -->
  <title>2D33F96C-5E98-4813-89B9-6F9A3E7A7EDA</title>
  <desc>Created with sketchtool.</desc>
  <defs></defs>
  <g id="Find-Job" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
    <g id="Find-Job-Filters-Hidden" transform="translate(-1028.000000, -707.000000)" fill="#4C92E8" fill-rule="nonzero">
      <g id="filter" transform="translate(1021.000000, 700.000000)">
        <g id="Group-14">
          <polygon id="dropdown-arrow-copy"
                   transform="translate(12.000000, 9.500000) rotate(540.000000) translate(-12.000000, -9.500000) "
                   points="7 7 12 12 17 7"></polygon>
        </g>
      </g>
    </g>
  </g>
</svg>

<svg *ngIf="arrow && key" width="10px" height="5px" viewBox="0 0 10 5" version="1.1"
     xmlns="http://www.w3.org/2000/svg"
     xmlns:xlink="http://www.w3.org/1999/xlink">
  <!-- Generator: sketchtool 50.2 (55047) - http://www.bohemiancoding.com/sketch -->
  <title>E2B20357-37A8-49CF-9D17-9A704201679E</title>
  <desc>Created with sketchtool.</desc>
  <defs></defs>
  <g id="Find-Job" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
    <g id="Find-Job-Filters-Hidden" transform="translate(-1103.000000, -716.000000)" fill="#4C92E8" fill-rule="nonzero">
      <g id="filter" transform="translate(1021.000000, 700.000000)">
        <g id="Group-14-Copy" transform="translate(82.000000, 7.000000)">
          <polygon id="dropdown-arrow"
                   transform="translate(5.000000, 11.500000) rotate(360.000000) translate(-5.000000, -11.500000) "
                   points="0 9 5 14 10 9"></polygon>
        </g>
      </g>
    </g>
  </g>
</svg>

<svg *ngIf="!arrow && key" width="10px" height="5px" viewBox="0 0 10 5" version="1.1"
     xmlns="http://www.w3.org/2000/svg"
     xmlns:xlink="http://www.w3.org/1999/xlink">
  <!-- Generator: sketchtool 50.2 (55047) - http://www.bohemiancoding.com/sketch -->
  <title>E2B20357-37A8-49CF-9D17-9A704201679E</title>
  <desc>Created with sketchtool.</desc>
  <defs></defs>
  <g id="Find-Job" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
    <g id="Find-Job-Filters-Hidden" transform="translate(-1103.000000, -716.000000)" fill="#A8A8A8" fill-rule="nonzero">
      <g id="filter" transform="translate(1021.000000, 700.000000)">
        <g id="Group-14-Copy" transform="translate(82.000000, 7.000000)">
          <polygon id="dropdown-arrow"
                   transform="translate(5.000000, 11.500000) rotate(360.000000) translate(-5.000000, -11.500000) "
                   points="0 9 5 14 10 9"></polygon>
        </g>
      </g>
    </g>
  </g>
</svg>
