@import "../../../assets/scss/core";
@import "../../../assets/scss/variables";
@import "../../../assets/scss/mixins";

$border-radius: 5px;

.date-cell {
  border-bottom-right-radius: $border-radius;
  border-top-right-radius:    $border-radius;
}

.user-item-title {
  font-family: $font-sf-normal;
  color:       $color-black;
  cursor:      pointer;

  &__icon {
    vertical-align: middle;
    font-size:      12px;
  }
}

.user-item-date {
  font-family: $font-dual;
}

.user-location {
  font-size: 12px;
}

.overflow-auto {
  overflow: auto;
}

.input-filter {
  min-width:     445px;
  height:        32px;
  border-radius: 5px;
  background:    $color-white-darkest url("../../../assets/images/input-icons/search_icon.svg") no-repeat 2%;
  border:        none;
  display:       block;
  margin:        24px auto;
  padding:       0 20px 0 30px;
  font-family:   $font-sf-light;

  @media screen and (max-width: $xsMaxWidth) {
    min-width: 100%;
  }
}

