<zu-header></zu-header>

<zu-intro-header [background]="2"
                 [title]="'USER MANAGEMENT'"
                 [subTitle]="'Approve, Decline and Manage user accounts here'"></zu-intro-header>

<section class="flex main-height admin-page-backgroud">
  <mat-card class="full-width">
    <mat-card-content class="main-content-padding container">
      <mat-tab-group class="admin-tabs" [@.disabled]="true">
        <mat-tab label="{{getCounter(userTableTabsEnum.APPROVED)}}">

          <input type="text" class="input-filter" [(ngModel)]="searchUser" *ngIf="users?.approved?.length > 0">

          <div class="overflow-auto">
            <table class="admin-manage-table" *ngIf="users?.approved?.length > 0">

              <thead>
              <tr class="admin-manage-table__header">
                <th class="admin-manage-table__header-label">User Name</th>
                <th class="admin-manage-table__header-label"></th>
                <th class="admin-manage-table__header-label">Joined</th>
              </tr>
              </thead>

              <tbody class="mt-24" *ngFor="let user of users?.approved | filter : searchUser">
              <tr class="table-row pointer" [routerLink]="getUserUrl(user.id)">
                <td class="main-cell">
                  <div class="main-cell--block">
                    <div>
                      <label class="label user-item-title">{{user?.fullName}}</label>
                      <i class="material-icons user-item-title__icon">
                        location_on
                      </i>
                      <span class="user-location">{{user?.address}}</span>
                    </div>
                  </div>
                </td>

                <td class="align-center">
                  <zu-role-icons [roles]="user?.roles"></zu-role-icons>
                </td>

                <td class="align-center date-cell">
                  <span class="user-item-date">{{user?.joined | zuDate: 'short'}}</span>
                </td>
              </tr>
              </tbody>
            </table>
          </div>

          <div class="flex flex-justify-space-center flex-align-center mt-48" *ngIf="!users?.approved?.length">
            <h4>No approved users</h4>
          </div>
        </mat-tab>

        <mat-tab label="{{getCounter(userTableTabsEnum.PENDING)}}">

          <input type="text" class="input-filter" [(ngModel)]="searchUser" *ngIf="users?.pending?.length > 0">

          <div class="overflow-auto">
            <table class="admin-manage-table" *ngIf="users?.pending?.length > 0">

              <thead>
              <tr class="admin-manage-table__header">
                <th class="admin-manage-table__header-label">User Name</th>
                <th class="admin-manage-table__header-label"></th>
                <th class="admin-manage-table__header-label">Joined</th>
              </tr>
              </thead>

              <tbody class="mt-24" *ngFor="let user of users?.pending | filter: searchUser">
              <tr class="table-row pointer" [routerLink]="getUserUrl(user.id)">
                <td class="main-cell">
                  <div class="main-cell--block">
                    <div>
                      <label class="label user-item-title">{{user?.fullName}}</label>
                      <i class="material-icons user-item-title__icon">
                        location_on
                      </i>
                      <span class="user-location">{{user?.address}}</span>
                    </div>
                  </div>
                </td>

                <td class="align-center">
                  <zu-role-icons [roles]="user?.roles"></zu-role-icons>
                </td>

                <td class="align-center date-cell">
                  <span class="user-item-date">{{user?.joined | zuDate: 'short'}}</span>
                </td>
              </tr>
              </tbody>
            </table>
          </div>

          <div class="flex flex-justify-space-center flex-align-center mt-48" *ngIf="!users?.pending?.length">
            <h4>No pending users</h4>
          </div>
        </mat-tab>

        <mat-tab label="{{getCounter(userTableTabsEnum.BLOCKED)}}">

          <input type="text" class="input-filter" [(ngModel)]="searchUser" *ngIf="users?.blocked?.length > 0">

          <div class="overflow-auto">
            <table class="admin-manage-table" *ngIf="users?.blocked?.length > 0">

              <thead>
              <tr class="admin-manage-table__header">
                <th class="admin-manage-table__header-label">User Name</th>
                <th class="admin-manage-table__header-label"></th>
                <th class="admin-manage-table__header-label">Joined</th>
              </tr>
              </thead>

              <tbody class="mt-24" *ngFor="let user of users?.blocked | filter: searchUser">
              <tr class="table-row pointer" [routerLink]="getUserUrl(user.id)">
                <td class="main-cell">
                  <div class="main-cell--block">
                    <div>
                      <label class="label user-item-title">{{user?.fullName}}</label>
                      <i class="material-icons user-item-title__icon">
                        location_on
                      </i>
                      <span class="user-location">{{user?.address}}</span>
                    </div>
                  </div>
                </td>

                <td class="align-center">
                  <zu-role-icons [roles]="user?.roles"></zu-role-icons>
                </td>

                <td class="align-center date-cell">
                  <span class="user-item-date">{{user?.joined | zuDate: 'short'}}</span>
                </td>
              </tr>
              </tbody>
            </table>
          </div>

          <div class="flex flex-justify-space-center flex-align-center mt-48" *ngIf="!users?.blocked?.length">
            <h4>No declined/blocked users</h4>
          </div>
        </mat-tab>

        <mat-tab label="{{getCounter(userTableTabsEnum.NEW)}}">

          <input type="text" class="input-filter" [(ngModel)]="searchUser" *ngIf="users?.new?.length > 0">

          <div class="overflow-auto">
            <table class="admin-manage-table" *ngIf="users?.new?.length > 0">

              <thead>
              <tr class="admin-manage-table__header">
                <th class="admin-manage-table__header-label">User Name</th>
                <th class="admin-manage-table__header-label">Status</th>
                <th class="admin-manage-table__header-label">Joined</th>
              </tr>
              </thead>

              <tbody class="mt-24" *ngFor="let user of users?.new | newUser: searchUser">
              <tr class="table-row">
                <td class="main-cell">
                  <div class="main-cell--block">
                    <div>
                      <label class="label user-item-title">{{user?.fullName}}</label>
                    </div>
                  </div>
                </td>

                <td class="align-center text-nowrap">
                  <span *ngIf="user?.status" class="user-item-date">{{user?.statusLabel}}</span>
                </td>

                <td class="align-center date-cell">
                  <span class="user-item-date text-nowrap">{{user?.joined | zuDate: 'short'}}</span>
                </td>

              </tr>
              </tbody>
            </table>
          </div>

          <div class="flex flex-justify-space-center flex-align-center mt-48" *ngIf="!users?.new?.length">
            <h4>No new users</h4>
          </div>
        </mat-tab>

      </mat-tab-group>
    </mat-card-content>
  </mat-card>
</section>