<h1 class="align-center">Ask a Question</h1>
<label for="recipient-name" class="label align-center modal-description">
  Recipient: <br>
  <span id="recipient-name" class="recipient-name">{{recipientName}}</span>
</label>

<svg class="mr-12 vertical-align-middle" width="20px" height="20px" viewBox="0 0 25 25" version="1.1">
  <defs></defs>
  <g id="Business" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
    <g id="User-Profile-Review" transform="translate(-209.000000, -1076.000000)" fill="#67C6B4" fill-rule="nonzero">
      <g id="Group-5" transform="translate(181.000000, 1062.000000)">
        <g id="message-text" transform="translate(28.000000, 14.000000)">
          <path d="M22.5,0 L2.5,0 C1.11928813,0 0,1.11928813 0,2.5 L0,25 L5,20 L22.5,20 C23.8807119,20 25,18.8807119 25,17.5 L25,2.5 C25,1.11928813 23.8807119,0 22.5,0 M5,8.75 L20,8.75 L20,11.25 L5,11.25 M15,15 L5,15 L5,12.5 L15,12.5 M20,7.5 L5,7.5 L5,5 L20,5"
                id="Shape"></path>
        </g>
      </g>
    </g>
  </g>
</svg>

<label for="send-message__text" class="label label-big mb-12 mt-36 inline-block">YOUR MESSAGE</label>

<zu-textarea>
  <textarea id="send-message__text"
            name="review-textarea"
            class="modal-textarea"
            maxlength="{{messageMaxLenght}}"
            [(ngModel)]="message"></textarea>
  <span>{{(message || '').length}}/{{messageMaxLenght}}</span>
</zu-textarea>

<span class="modal-info-label">You can view your message on the main dashboard</span>


<mat-dialog-actions class="flex flex-justify-space-center flex-wrap mt-24">
  <button class="button-small button-small--default mr-12" matDialogClose>CANCEL</button>
  <button class="button-small button-small--info" (click)="sendMessage()">SEND</button>
</mat-dialog-actions>


