@import "../../../../../assets/scss/variables";

.modal-description {
  font-size: 16px;
}

.recipient-name {
  font-size: 18px;
  font-family: $font-sf-normal;
  color: $color-blue-1;
}

.modal-textarea {
  min-width:        100%;
  min-height:       70px;
  font-size:        14px;
  line-height:      16px;
  resize:           none;
  background-color: $color-white-lightest;
  border:           1px solid $color-grey-modal-border;
  border-radius:    5px;
  font-family:      $font-sf-light;
  padding:          12px;
}

.modal-info-label {
  display:    block;
  text-align: center;
  font-size:  13px;
  color:      $color-grey-dark;
}