<div class="flex flex-direction-column flex-align-center">
  <h1 class="align-center mb-24">Change your password</h1>

  <div class="change-password-input-wrapper full-width-xs">
    <div class="relative">
      <label for="change-password-first-pass" class="label top-label mb-6">CURRENT PASSWORD</label>
      <input id="change-password-first-pass"
             type="text"
             maxlength="{{maxPasswordLength}}"
             class="input input-profile-data mb-12 change-password-input"
             [(ngModel)]="changePassData.oldPassword"
             [ngClass]="setOldPassVisibility()">

      <button class="change-password-input__button" [ngClass]="visible.old ? 'opened' : ''" (click)="showPassword(ChangePasswordTextVisibilityEnum.OLD)"></button>
    </div>

    <div class="relative">
      <label for="change-password-new-pass" class="label top-label mb-6">NEW PASSWORD</label>
      <input id="change-password-new-pass"
             type="text"
             maxlength="{{maxPasswordLength}}"
             class="input input-profile-data mb-12 change-password-input"
             [(ngModel)]="changePassData.newPassword"
             [ngClass]="setNewPassVisibility()">

      <button class="change-password-input__button" [ngClass]="visible.new ? 'opened' : ''"  (click)="showPassword(ChangePasswordTextVisibilityEnum.NEW)"></button>
    </div>

    <div class="relative">
      <label for="change-password-confirm-pass" class="label top-label mb-6">REPEAT PASSWORD</label>
      <input id="change-password-confirm-pass"
             type="text"
             maxlength="{{maxPasswordLength}}"
             class="input input-profile-data mb-12 change-password-input"
             [(ngModel)]="changePassData.confirmPassword"
             [ngClass]="setConfirmPassVisibility()">

      <button class="change-password-input__button" [ngClass]="visible.confirm ? 'opened' : ''"  (click)="showPassword(ChangePasswordTextVisibilityEnum.CONFIRM)"></button>
    </div>
  </div>

  <mat-dialog-actions class="flex flex-justify-space-center flex-wrap mt-12">
    <button class="button-small button-small--default mr-12" matDialogClose>CLOSE</button>
    <button class="button-small button-small--info" [disabled]="isRequestInProgress" (click)="changePassword()">SAVE</button>
  </mat-dialog-actions>
</div>
