@import "../../../../assets/scss/variables";

.change-password-input-wrapper {
  width: 328px;

  .change-password-input {
    background:            $color-grey-light-for-chips;
    position:              relative;
    padding-right:         40px;
    -webkit-text-security: disc;
    -moz-text-security:    disc;
    text-security:         disc;

    &__button {
      background:          url("../../../../assets/images/input-icons/eye.svg") no-repeat center;
      padding:             25px;
      border:              none;
      position:            absolute;
      right:               6px;
      bottom:              17px;
      cursor:              pointer;
      width:               21px;
      height:              20px;

      &.opened {
        background: url("../../../../assets/images/input-icons/eye_line.svg") no-repeat center;
      }
    }

    &.visible {
      -webkit-text-security: unset;
      -moz-text-security:    unset;
      text-security:         unset;
    }
  }
}