@import "../../../assets/scss/variables";

.box-padding {
  padding: 110px 30px 30px 30px;
}

.button-short {
  font-family:   $font-sf-light;
  min-width:     158px;
  padding-left:  16px;
  padding-right: 16px;
}

.list-showcase__item {
  overflow:      hidden;
  text-overflow: ellipsis;
  white-space:   nowrap;
}

.business-info-label {
  color:       $color-grey-5;
  font-family: $font-dual;
}

.business-info {
  color:          $color-blue-1;
  font-family:    $font-sf-light;
  font-size:      19px;
  letter-spacing: 0.32px;
  line-height:    23px;
  max-width:      225px;
  overflow:       hidden;
  white-space:    nowrap;
  display:        block;
  text-overflow:  ellipsis;
}

.vertical-align-sub {
  vertical-align: sub;
}