@import "../../../assets/scss/variables";

.accordion {
  position: relative;

  &__description {
    margin-top: 24px;
    overflow:   hidden;
    max-height: 13.5em;
    position: relative;
    white-space: pre-wrap;

    &:before {
      content:    '';
      position:   absolute;
      display:    inline-block;
      bottom:     0;
      width:      100%;
      height: 40%;
      max-height: 4rem;
      min-height: 1rem;
      background: linear-gradient(to bottom,
              rgba(255, 255, 255, 0) 0%,
              rgba(255, 255, 255, 0.4) 20%,
              rgba(255, 255, 255, 0.8) 60%,
              rgb(255, 255, 255) 100%);
    }
  }

  &__button {
    position:      absolute;
    z-index:       1;
    cursor:        pointer;
    left:          calc(50% - 15px);
    line-height:   0;
    border-radius: 0 0 50px 50px;
    width:         30px;
    height:        15px;
    min-width:     unset;
    bottom:        -15px;
    padding:       0;
    border-color:  transparent;
    box-shadow:    0 2px 4px 0 rgba(143, 143, 143, 0.5);
    overflow:      hidden;
    background:    $color-white;
  }

  &__button-icon {
    display: inline-block;
  }

  &.open {

    .accordion__description {
      overflow:   unset;
      max-height: unset;

      &:before {
        content: none;
      }
    }

    .accordion__button-icon {
      transform: rotate(180deg);
    }
  }

}