<div class="accordion" [ngClass]="{'open': open}">
  <div class="accordion__description">
    <ng-content></ng-content>
  </div>

  <button type="button" class="accordion__button" (click)="open = !open" [ngStyle]="{'margin-bottom.px': -offset}">
    <span class="accordion__button-icon">
      <svg width="10px"
           height="5px"
           viewBox="0 0 10 5"
           version="1.1"
           xmlns="http://www.w3.org/2000/svg"
           xmlns:xlink="http://www.w3.org/1999/xlink">
          <title>Accordion button</title>
          <desc>Created with sketchtool.</desc>
          <defs></defs>
          <g id="Symbols" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
              <g id="icons" transform="translate(-335.000000, -213.000000)" fill="#000000" fill-rule="nonzero">
                  <g id="Group-2" transform="translate(43.000000, 206.000000)">
                      <polygon id="Shape-Copy-3" points="292 7 297 12 302 7"></polygon>
                  </g>
              </g>
          </g>
      </svg>
    </span>
  </button>

</div>