@import "../../../assets/scss/variables";
@import "../../../assets/scss/mixins";
@import "../../../assets/scss/core";

.profile-summary {
  display:         flex;
  flex-wrap:       wrap;
  justify-content: space-between;
  position:        relative;
  width:           100%;
}

.user-bio {
  max-height:  100px;
  overflow:    auto;
  white-space: pre-wrap;
}

.user-names {
  font-size:      16px;
  letter-spacing: 0.14px;
  font-family:    $font-sf-semibold;
}

.experience-label {
  font-size:   14px;
  font-family: $font-dual;
  white-space: nowrap;

  &:before {
    content:   '|';
    margin:    0 15px;
    font-size: 11px;
    color:     $color-grey;

    @media screen and (max-width: $lgMaxWidth) {
      display: none;
    }
  }

  @media screen and (max-width: $xsMaxWidth) {
    margin-top: 10px;
  }
}

.business-name {
  font-size:   14px;
  font-family: $font-sf-light;
  word-break:  break-word;
}

.accordion {
  &__description {
    margin-top:  12px;
    overflow:    hidden;
    max-height:  155px;
    white-space: pre-wrap;
    font-size:   14px;

    &:before {
      content:    '';
      position:   absolute;
      display:    inline-block;
      bottom:     0;
      left:       0;
      right:      0;
      height:     40%;
      max-height: 4rem;
      min-height: 1rem;
      background: linear-gradient(to bottom,
              rgba(255, 255, 255, 0) 0%,
              rgba(255, 255, 255, 0.4) 20%,
              rgba(255, 255, 255, 0.8) 60%,
              rgb(255, 255, 255) 100%);
    }
  }

  &__button {
    position:      absolute;
    z-index:       1;
    cursor:        pointer;
    left:          calc(50% - 15px);
    line-height:   0;
    border-radius: 0 0 50px 50px;
    width:         30px;
    height:        15px;
    min-width:     unset;
    bottom:        -15px;
    padding:       0;
    border-color:  transparent;
    box-shadow:    0 2px 4px 0 rgba(143, 143, 143, 0.5);
    overflow:      hidden;
    background:    $color-white;
  }

  &__button-icon {
    display: inline-block;
  }

  &.open {

    .accordion__description {
      overflow:   unset;
      max-height: unset;

      &:before {
        content: none;
      }
    }

    .accordion__button-icon {
      transform: rotate(180deg);
    }
  }

}

.location-label {
  font-size: 14px;
}

.content-wrapper {
  display: inline-block;
}

@media screen and (max-width: 594px) {
  .content-wrapper {
    display: flex;
  }

  .user-summary {
    margin-top: 12px;
    flex:       1 1 78%;
  }
}

.profile-summary__left-box {
  margin: 0 14px 14px 0;

  @media screen and (max-width: 594px) {
    margin: 0 auto;
  }
}

.label-rating {
  margin-top:     12px;
  display:        block;
  font-family:    $font-sf-light;
  font-size:      14px;
  text-align:     center;
  letter-spacing: -0.14px;
  line-height:    11px;
  position:       relative;
  z-index:        1;
}

.rating-number {
  font-family: $font-sf-normal;
}

.base-info-box {
  display:     flex;
  align-items: center;

  @media screen and (max-width: $xsMaxWidth) {
    display: block;
  }
}
