<div class="filter-container">
  <div class="filter-main-box mt-16">
    <div class="full-width">
      <div class="flex flex-wrap">
        <div class="full-width-xs location-input-container">
          <label class="label mb-12 mt-12"><span class="top-label">enter job location</span></label>
          <input type="text"
                 class="input input-profile-data"
                 placeholder="Enter job location"
                 zuGoogleAutocomplete
                 [(ngModel)]="filter.address"
                 (setAddress)="getAddress($event)">
        </div>

        <div class="full-width-xs range-picker-container">
          <label class="label mb-12 mt-12"><span class="top-label">show jobs within:</span></label>
          <mat-slider min="1"
                      max="6"
                      step="1"
                      value="1"
                      class="full-width zu-slider--blue"
                      *ngIf="sliderValue > 0"
                      [(ngModel)]="sliderValue"
                      tickInterval="1"></mat-slider>
          <span class="range-tick" *ngFor="let option of radiusOptions">{{option}}km</span>
        </div>
      </div>

      <label for="jobType" class="label mt-24 mb-12"><span class="top-label">job type</span></label>
      <div id="jobType" class="flex flex-wrap mb-24 flex-justify-space-between">
        <div class="flex-wrap checkbox-spacer">
          <mat-checkbox class="checkbox-inner short-checkbox" (change)="toggleType(JobTypeEnum.PHOTOGRAPHER, $event)"
                        [checked]="filter.jobType?.includes(JobTypeEnum.PHOTOGRAPHER)">
            Photographer
          </mat-checkbox>
        </div>
        <div class="flex-wrap checkbox-spacer">
          <mat-checkbox class="checkbox-inner short-checkbox" (change)="toggleType(JobTypeEnum.VIDEOGRAPHER, $event)"
                        [checked]="filter.jobType?.includes(JobTypeEnum.VIDEOGRAPHER)">
            Videographer
          </mat-checkbox>
        </div>
        <div class="flex-wrap checkbox-spacer">
          <mat-checkbox class="checkbox-inner short-checkbox" (change)="toggleType(JobTypeEnum.DRONE_OPERATOR, $event)"
                        [checked]="filter.jobType?.includes(JobTypeEnum.DRONE_OPERATOR)">
            Drone Operator
          </mat-checkbox>
        </div>
        <div class="flex-wrap checkbox-spacer">
          <mat-checkbox class="checkbox-inner short-checkbox" (change)="toggleType(JobTypeEnum.PHOTO_EDITOR, $event)"
                        [checked]="filter.jobType?.includes(JobTypeEnum.PHOTO_EDITOR)">
            Editor (Photos)
          </mat-checkbox>
        </div>
        <div class="flex-wrap checkbox-spacer">
          <mat-checkbox class="checkbox-inner short-checkbox"
                        (change)="toggleType(JobTypeEnum.VIDEO_EDITOR, $event)"
                        [checked]="filter.jobType?.includes(JobTypeEnum.VIDEO_EDITOR)">
            Editor (Videos)
          </mat-checkbox>
        </div>
        <div class="flex-wrap checkbox-spacer">
          <mat-checkbox class="checkbox-inner short-checkbox"
                        (change)="toggleType(JobTypeEnum.ASSISTANT, $event)"
                        [checked]="filter.jobType?.includes(JobTypeEnum.ASSISTANT)">
            Assistant
          </mat-checkbox>
        </div>
      </div>
    </div>

    <div class="flex flex-wrap flex-justify-space-between mb-36" *ngIf="isFilterOpen">

      <!-- DATE-->
      <div class="full-width-xs">
        <label class="label mt-24 mb-12">
          <span class="top-label">date range</span>
        </label>

        <div class="flex flex-justify-space-between flex-wrap custom-input-box">
          <div class="full-width-xs mb-12 custom-input">
            <zu-datepicker [value]="filter.dateFrom"
                           [placeholder]="'Date from'"
                           [min]="inputDateParams.min"
                           (onChange)="setFilterValueByKey('dateFrom', $event)"
                           [small]="true"></zu-datepicker>
          </div>

          <div class="full-width-xs custom-input">
            <zu-datepicker [value]="filter.dateTo"
                           [placeholder]="'Date to'"
                           [min]="inputDateParams.min"
                           (onChange)="setFilterValueByKey('dateTo', $event)"
                           [small]="true"></zu-datepicker>
          </div>
        </div>
      </div>

      <!-- Hours-->
      <div class="full-width-xs">
        <label class="label mt-24 mb-12">
          <span class="top-label">hour range</span>
        </label>

        <div class="flex flex-justify-space-between flex-wrap custom-input-box">
          <div class="full-width-xs mb-12 custom-input">
            <zu-input [type]="'number'"
                      [value]="filter.hourFrom"
                      [min]="inputParams.hour.min"
                      [step]="inputParams.hour.step"
                      [max]="inputParams.hour.max"
                      [ableEmpty]="true"
                      [placeholder]="'Hour from'"
                      (onChange)="setFilterValueByKey('hourFrom', $event)"
                      [small]="true"></zu-input>
          </div>

          <div class="full-width-xs custom-input">
            <zu-input [type]="'number'"
                      [value]="filter.hourTo"
                      [min]="inputParams.hour.min"
                      [step]="inputParams.hour.step"
                      [max]="inputParams.hour.max"
                      [ableEmpty]="true"
                      [placeholder]="'Hour to'"
                      (onChange)="setFilterValueByKey('hourTo', $event)"
                      [small]="true"></zu-input>
          </div>
        </div>
      </div>

      <!-- Amount-->
      <div class="full-width-xs">
        <label class="label mt-24 mb-12">
          <span class="top-label">payment amount</span>
        </label>

        <div class="flex flex-justify-space-between flex-wrap custom-input-box">
          <div class="full-width-xs mb-12 custom-input">
            <zu-input [type]="'currency'"
                      [step]="inputParams.amount.step"
                      [min]="inputParams.amount.min"
                      [max]="inputParams.amount.max"
                      [value]="filter.amountFrom"
                      [ableEmpty]="true"
                      [placeholder]="'Amount from'"
                      (onChange)="setFilterValueByKey('amountFrom', $event)"
                      [small]="true"></zu-input>
          </div>

          <div class="full-width-xs custom-input">
            <zu-input [type]="'currency'"
                      [step]="inputParams.amount.step"
                      [min]="inputParams.amount.min"
                      [max]="inputParams.amount.max"
                      [value]="filter.amountTo"
                      [ableEmpty]="true"
                      [placeholder]="'Amount to'"
                      (onChange)="setFilterValueByKey('amountTo', $event)"
                      [small]="true"></zu-input>
          </div>
        </div>
      </div>
    </div>

    <div class="align-center">
      <button type="button"
              mat-raised-button
              class="button-primary button-grey full-width-xs filter__button"
              (click)="cleanFilters()">
        Clear Filters
      </button>

      <!-- Submit button -->
      <button type="button"
              mat-raised-button
              class="button-primary full-width-xs filter__button"
              (click)="applyFilters()">
        Apply Filters
      </button>
    </div>

    <div class="mb-24 mt-24">
      <div class="flex relative flex-align-center mb-24 flex-justify-space-center container-more-filters">

        <label class="label align-center filters-label text-nowrap inline-block" (click)="toggleFilterStatus()">
          {{isFilterOpen ? 'LESS FILTERS' : 'MORE FILTERS'}}

          <svg class="icon-filter" ngClass="{{isFilterOpen ? 'icon-filter--opened' : 'icon-filter'}}" width="15px" height="15px"
               viewBox="0 0 20 20" version="1.1" xmlns="http://www.w3.org/2000/svg">
            <defs></defs>
            <g id="Find-Job" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
              <g id="Find-Job-Filters-Hidden" transform="translate(-737.000000, -637.000000)">
                <g id="Group-18" transform="translate(1.000000, 632.000000)">
                  <g id="Group-19" transform="translate(598.000000, 0.000000)">
                    <g id="Group-7" transform="translate(139.000000, 6.000000)">
                      <circle id="Oval-3" stroke="#4DA1FF" cx="9" cy="9" r="9"></circle>
                      <polygon id="dropdown-arrow" fill="#4DA1FF" fill-rule="nonzero" points="3 7 9 13 15 7"></polygon>
                    </g>
                  </g>
                </g>
              </g>
            </g>
          </svg>

        </label>

      </div>
    </div>
  </div>
</div>
