<zu-header></zu-header>

<zu-intro-header [title]="'JOB DETAILS'" [background]="2"></zu-intro-header>

<section class="flex main-height admin-page-backgroud">
  <mat-card class="full-width">
    <mat-card-content class="main-content-padding post-job-container container" *ngIf="jobView">

      <div class="flex flex-justify-space-between flex-wrap">
        <h2 class="title-for-overview">Job overview</h2>
        <zu-job-view-header-buttons [ownershipType]="jobView.ownershipType" [job]="jobView"></zu-job-view-header-buttons>
      </div>

      <zu-job-preview [job]="jobView"
                      [totalAmount]="calcTotalAmount()"
                      [attachments]="uploadedFiles"
                      [isApplicantsSectionVisible]="true"></zu-job-preview>

      <zu-job-view-controls [ownershipType]="jobView.ownershipType"
                            [job]="jobView"></zu-job-view-controls>

    </mat-card-content>
  </mat-card>
</section>