<div class="user-info full-width-xs">

  <div class="user-names mb-12">{{title}}</div>

  <div class="job-overview-header">

    <div class="job-overview-header__icons">

      <zu-role-icons [roles]="roles"></zu-role-icons>

      <span *ngIf="additionalInfo && ownershipType === OwnershipTypeEnum.OWNER" class="experience-label flex flex-align-center">{{additionalInfo}}</span>

      <span *ngIf="additionalInfo && ownershipType !== OwnershipTypeEnum.OWNER"
            class="experience-label flex flex-align-center"><a class="link-default blue" [routerLink]="getOwnerProfileLink()">{{additionalInfo}}</a></span>
    </div>
    <div class="flex flex-align-center">
      <i class="material-icons location-icon">
        location_on
      </i>
      {{location}}
    </div>
  </div>

  <zu-accordion *ngIf="showAccordion && isAccordion === true" class="user-bio mt-24" [offset]="30">{{description}}</zu-accordion>

  <div *ngIf="showAccordion === false || isAccordion === false" class="user-bio mt-24">{{description}}</div>

</div>
