<div class="user-role-icons">

  <!--user-roles-icons-->
  <svg width="16px" height="16px" viewBox="0 0 16 17" class="user-role-icon"
       *ngIf="roles?.includes('PHOTOGRAPHER')">
    <use xlink:href="#role-photographer"></use>
  </svg>

  <svg width="16px" height="16px" viewBox="0 0 21 16" class="user-role-icon"
       *ngIf="roles?.includes('DRONE_OPERATOR')">
    <use xlink:href="#role-drone"></use>
  </svg>

  <svg width="16px" height="16px" viewBox="0 0 21 16" class="user-role-icon"
       *ngIf="roles?.includes('PHOTO_EDITOR')">
    <use xlink:href="#role-photo-editor"></use>
  </svg>

  <svg width="16px" height="16px" viewBox="0 0 21 16" class="user-role-icon"
       *ngIf="roles?.includes('VIDEOGRAPHER')">
    <use xlink:href="#role-videographer"></use>
  </svg>

  <svg width="16px" height="16px" viewBox="0 0 21 16" class="user-role-icon"
       *ngIf="roles?.includes('VIDEO_EDITOR')">
    <use xlink:href="#role-video-editor"></use>
  </svg>

  <svg width="16px" height="16px" viewBox="0 0 23 20" class="user-role-icon"
       *ngIf="roles?.includes('ASSISTANT')">
    <use xlink:href="#role-assistant"></use>
  </svg>

</div>