<div class="offer-modal">

  <i class="flex flex-justify-space-center flex-wrap mt-12 mb-24">
    <img src="../../../../../../assets/images/job-icons/success.svg" alt="success">
  </i>

  <h1 class="align-center">Offer Sent</h1>
  <label class="label align-center second-header">Thank you! Your offer has been sent to
    <a class="link-default blue" target="_blank" [routerLink]="['/profile', data.id ]" *ngIf="isMobile() === false">
      {{ data.firstName }} {{ data.lastName }}</a>
    <a class="link-default blue" (click)="closeDialog()" [routerLink]="['/profile', data.id ]" *ngIf="isMobile() === true">
      {{ data.firstName }} {{ data.lastName }}
    </a>.</label>

  <div class="offer-modal-content">
    <p class="offer-modal-info">
      You will receive notification if {{ data.firstName }} accepts your offer.<br>
      If this offer is <span class="bold">not accepted</span> within 48 hours, you will receive a notification
      and have the ability to create a new offer to another applicant.
    </p>
  </div>

  <div class="flex flex-justify-space-center flex-wrap mt-24">
    <button class="button-small button-small--info align-center" matDialogClose>DONE</button>
  </div>

</div>
