@import "../../../../../assets/scss/variables";

.offer-modal-content {
  margin: 3vh auto 7vh;

  .offer-modal-info {
    color:       $color-grey-dark-1;
    font-family: $font-sf-light;
    font-size:   14px;
    line-height: 19px;
    text-align:  center;
  }
}

.second-header {
  font-size: 16px;
  max-width: 395px;
  margin:    0 auto;
}