<zu-header></zu-header>

<section class="main-height flex flex-justify-space-center flex-wrap admin-page-backgroud">

  <div class="container box-padding">

    <!--Conditional admin comment-->
    <zu-alert-message class="inline-block full-width" *ngIf="profilePreview?.adminsComment"
                      [title]="messageLabel">
      <p class="message-text">{{profilePreview?.adminsComment}}</p>
    </zu-alert-message>

    <zu-profile-summary
        [profile]="profilePreview"
        [showAccordion]="true">
    </zu-profile-summary>


    <zu-profile-details [profile]="profilePreview"></zu-profile-details>

    <!--// Feedback container, only for profile view-->

    <zu-profile-feedback [profileId]="profileId" [feedbackQuantity]="profilePreview?.feedbackQuantity"></zu-profile-feedback>

    <div class="mb-24 mt-24 button--box" *ngIf="profilePreview?.currentUser === false">
      <!-- Back to job list button -->
      <button type="button"
              mat-raised-button
              class="button-primary button-grey button-short full-width-xs"
              (click)="goBackToApplicants()">
        {{getBackButtonText()}}
      </button>

      <button type="button"
              mat-raised-button
              class="button-primary button-grey button-short full-width-xs"
              (click)="openSendMessageDialog()"
              *ngIf="isAskAQuestionVisible()">
        <span>Ask a Question </span>
        <svg class="ml-2" width="25px" height="25px" viewBox="0 0 25 25" version="1.1">
          <defs></defs>
          <g id="Business" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
            <g id="User-Profile-Review" transform="translate(-209.000000, -1076.000000)" fill="#67C6B4" fill-rule="nonzero">
              <g id="Group-5" transform="translate(181.000000, 1062.000000)">
                <g id="message-text" transform="translate(28.000000, 14.000000)">
                  <path d="M22.5,0 L2.5,0 C1.11928813,0 0,1.11928813 0,2.5 L0,25 L5,20 L22.5,20 C23.8807119,20 25,18.8807119 25,17.5 L25,2.5 C25,1.11928813 23.8807119,0 22.5,0 M5,8.75 L20,8.75 L20,11.25 L5,11.25 M15,15 L5,15 L5,12.5 L15,12.5 M20,7.5 L5,7.5 L5,5 L20,5"
                        id="Shape"></path>
                </g>
              </g>
            </g>
          </g>
        </svg>
      </button>

      <!-- Submit button -->
      <button type="button"
              mat-raised-button
              class="button-primary button-short full-width-xs"
              (click)="openDialogHandler()"
              [disabled]="isRequestInProgress || (job?.status !== jobStatusEnum.NEW && !isOfferAlreadySent)"
              *ngIf="job?.status !== jobStatusEnum.WAITING_FOR_RESPONSE && checkProfileId()"
              [hidden]="!isJobIdValid || isSendOfferHidden">
        Send Job Offer
      </button>

    </div>

    <!--Owner buttons-->

    <div class="mb-24 mt-24 button--box" *ngIf="profilePreview?.currentUser">

      <button type="button"
              mat-raised-button
              class="button-primary button-grey button-short full-width-xs"
              (click)="goBack()">
        Back
      </button>

      <button type="button"
              mat-raised-button
              class="button-primary button-short full-width-xs"
              [routerLink]="['/profile']">
        Edit Profile
      </button>
    </div>

  </div>
</section>
