@import "../../app.component";
@import "../../../assets/scss/variables";

.title-right {
  color:      $color-white;
  font-size:  27px;
  text-align: left;

  @media screen and (max-width: $smMaxWidth) {
    text-align: center;
  }
}

.forgot-btn {
  font-family: $font-sf-light;

  &:first-child {
    margin-bottom: 12px !important;
  }
}