@import "../../../../assets/scss/variables";
@import "../../../../assets/scss/mixins";

.applicants-list {
  overflow:   auto;
  overflow-x: hidden;
  max-height: 200px;
}

.label-padding {
  padding: 30px 30px 5px 30px;
}

.box-icon--right {
  display:     flex;
  align-items: center;
  line-height: 25px;
}

.hired-label {
  font-family:    $font-sf-semibold;
  margin-left:    14px;
  letter-spacing: -0.45px;
}

.icon-star {
  font-size:   20px;
  width:       39px;
  color:       $color-blue;
  margin-left: 16px;
  padding:     5px;
  background:  none;
  border:      none;
  background:  transparent;

  &--disabled {
    color: $color-grey-dark;
  }
}

.applicants-list__item {
  height:        60px;
  padding:       0 30px;
  border-bottom: 1px solid $color-grey-dark;
  cursor:        pointer;
  @include transition(background-color);

  &:first-child {
    border-top: 1px solid $color-grey-dark;
  }

  &:hover {
    background-color: $color-white-darkest;

    .label-date {
      color: $color-grey-light
    }
  }
}

.label-applicant {
  font-size:   16px;
  color:       $color-black;
  font-family: $font-sf-light;
}

.label-date {
  font-size:   11px;
  color:       $color-grey-light-1;
  font-family: $font-sf-light;
  @include transition(color);
}

.label-shooter-color {
  color: $color-blue;
}