<div class="label-padding">
  <div class="flex flex-align-center">
    <label class="label label-big">
      APPLICANTS LIST
    </label>
    <span class="big-number big-number--min ml-12">{{jobView.applicants.length}}</span>
  </div>

  <label class="label mt-6 mb-12"> Click on an applicant to view profile / hire</label>
</div>

<ul class="list-unstyled applicants-list" *ngIf="jobView.applicants.length !== 0">
  <li class="flex flex-justify-space-between flex-align-center applicants-list__item"
      *ngFor="let applicant of jobView.applicants"
      (click)="navigateToApplicant(applicant)">

    <label class="label label-applicant" [ngClass]="isShooter(applicant)">
      {{applicant.firstName}} {{applicant.lastName}}
    </label>
    <div class="box-icon--right">
      <span class="label-date">{{applicant.date | zuDate: 'short'}}</span>

      <button type="button"
              class="material-icons icon-star"
              [ngClass]="{'icon-star--disabled': applicant.inProgress}"
              matTooltip="{{tooltipText}}"
              matTooltipPosition="right"
              (click)="chooseApplicant($event, applicant)"
              *ngIf="applicant?.hired === false"
              [disabled]="jobView.ownershipType === OwnershipTypeEnum.ADMIN">
        {{applicant.marked === true ? 'star' : 'star_border'}}
      </button>
      <label class="label blue hired-label" *ngIf="applicant?.hired">HIRED</label>
    </div>
  </li>
</ul>

<label class="label label-big mt-24 pl-30" *ngIf="jobView.applicants.length === 0">No applicants</label>
