<div class="empty-chat-container">
  <div class="icon-wrapper">
    <svg width="94px" height="94px" viewBox="0 0 25 25" version="1.1">
      <defs></defs>
      <g id="Business" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="User-Profile-Review" transform="translate(-209.000000, -1076.000000)" fill="#67C6B4" fill-rule="nonzero">
          <g id="Group-5" transform="translate(181.000000, 1062.000000)">
            <g id="message-text" transform="translate(28.000000, 14.000000)">
              <path d="M22.5,0 L2.5,0 C1.11928813,0 0,1.11928813 0,2.5 L0,25 L5,20 L22.5,20 C23.8807119,20 25,18.8807119 25,17.5 L25,2.5 C25,1.11928813 23.8807119,0 22.5,0 M5,8.75 L20,8.75 L20,11.25 L5,11.25 M15,15 L5,15 L5,12.5 L15,12.5 M20,7.5 L5,7.5 L5,5 L20,5"
                    id="Shape"></path>
            </g>
          </g>
        </g>
      </g>
    </svg>
  </div>

  No Messages yet.
  <br>
  They will appear here after you start conversation with another user.
</div>