@import "../../../assets/scss/variables";
@import "../../../assets/scss/mixins";
@import "../../../assets/scss/core";

.file-list {
  max-height:  265px;
  overflow:    auto;
  overflow-x:  hidden;
  white-space: nowrap;
  max-width:   340px;
}

.list-showcase {
  max-height: 230px;
}