<ul class="list-unstyled file-list pt-12">
  <li class="mb-12" *ngFor="let file of files">
    <div class="field-uploaded">
      <i class="material-icons field-uploaded-icon">
        <svg width="26px" height="22px" viewBox="0 0 20 28" version="1.1">
          <use xlink:href="#file"></use>
        </svg>
      </i>

      <a *ngIf="isUploadedFile" href={{file.url}} target="_blank" class="field-uploaded-text resource-link">{{file.originalName}}</a>
      <a *ngIf="!isUploadedFile" href={{file}} target="_blank" class="field-uploaded-text resource-link">{{file}}</a>
    </div>
  </li>
</ul>