@import "../assets/scss/variables";
@import "../assets/scss/core";

// TODO remove after refactor
.flex-container {
  display:         flex;
  justify-content: center;
  align-items:     center;
  flex-wrap:       wrap;
}

.items-container {
  justify-content: space-between;
  align-items:     stretch;
  flex-wrap:       wrap;
}

.logo-container {
  max-width:      667px;
  margin:         0 auto;
  padding-bottom: 45px;
  text-align:     center;

  @media screen and (max-width: $smMaxWidth) {
    padding-bottom: 30px;
    max-width:      249px;
  }
}

.logo-complex {
  @media screen and (min-width: $smMaxWidth + 1px) {
    display: none;
  }
}