@import "../../../assets/scss/variables";

.notifications-page {
  margin-top: 80px !important;
  padding:    56px 20px 64px;
}

.notifications-head {
  background:    #FFFFFF;
  padding:       38px 0 16px 40px;
  border-radius: 5px 5px 0 0;

  &__title {
    color:          $color-black-light;
    font-family:    $font-sf-semibold;
    font-size:      16px;
    font-weight:    600;
    letter-spacing: 0.14px;
    line-height:    19px;
    margin:         0;
    border-bottom:  1px solid $color-black-light;
  }
}

.notifications-body {
  display:       block;
  background:    $color-white;
  border-radius: 0 0 5px 5px;
}

.notification-list {
  .notification-item {
    padding: 13px 40px 11px;
    display: flex;

    &:last-child {
      border-radius: 0 0 5px 5px;
    }

    &.new {
      background: $color-white-1;

      &:hover {
        .button--mark-as-read {
          visibility: visible;
        }
      }
    }

    &:hover {
      background-color: $color-white-darkest;
      box-shadow:       0 2px 4px 0 rgba(0, 0, 0, 0.1);
    }

    @media screen and(max-width: $xsMaxWidth) {
      padding: 12px 24px;
    }

    &__body {
      flex: 1 1 100%;
    }

    &__details {
      display:         flex;
      align-items:     center;
      min-width:       120px;
      padding:         4px 0;
      justify-content: flex-end;

      @media screen and(max-width: $xsMaxWidth) {
        flex-direction: row-reverse;
      }

      .button--mark-as-read {
        color:       $color-grey-dark-1;
        background:  transparent;
        border:      none;
        line-height: 0;
        height:      26px;
        margin:      0 8px;
        cursor:      pointer;
        visibility:  hidden;

        &:hover,
        &:focus {
          color:      $color-grey;
          visibility: visible;
        }

        @media screen and(max-width: $xsMaxWidth) {
          visibility: visible;
        }

        i {
          font-size: 18px;
        }
      }
    }

    &__title {
      color:       $color-purple-1;
      font-family: $font-sf-semibold;
      font-size:   16px;
      font-weight: 600;
      margin:      0;
    }

    &__message {
      color:       $color-grey-1;
      font-family: $font-sf-normal;
      font-size:   14px;
      font-weight: 300;
      line-height: 16px;
      margin:      0;

      a {
        text-decoration: underline;
        color:           $color-blue-2;

        &:hover {
          color: $color-blue-dark;
        }
      }
    }

    &__date {
      display:     block;
      color:       $color-grey-dark-1;
      font-family: $font-sf-normal;
      font-size:   14px;
      font-weight: 300;
      height:      26px;
      line-height: 26px;
    }

  }

}

.footer-buttons {
  display: flex;

  @media screen and(max-width: $smMaxWidth) {
    justify-content: space-between;
  }

  .button--more-notifications {
    margin-left:  auto;
    margin-right: 158px;

    @media screen and(max-width: $smMaxWidth) {
      margin-left:  unset;
      margin-right: unset;
    }

    @media screen and(max-width: $xsMaxWidth) {
      margin-right: auto;
    }
  }

  .button--go-back {
    height:        45px;
    width:         158px !important;
    margin-bottom: 0 !important;
    font-size:     16px;
    line-height:   19px;

    @media screen and(max-width: $xsMaxWidth) {
      width: 100% !important;
    }
  }
}

