<zu-header></zu-header>

<section class="main-height flex flex-justify-space-center admin-page-backgroud">
  <mat-card>
    <mat-card-content class="container">

      <div class="notifications-page">
        <header class="notifications-head">
          <h1 class="notifications-head__title">ALL NOTIFICATIONS</h1>
        </header>

        <!--<button (click)="markAllAsRead()">mark all as read</button>-->

        <div class="notifications-body">
          <p *ngIf="!notifications.length">You have no notifications.</p>

          <ul class="list-unstyled notification-list" *ngIf="notifications.length">
            <li class="notification-item flex-wrap-xs" [ngClass]="{'new': !notification.hidden}"
                *ngFor="let notification of notifications; let index = index">

              <div class="notification-item__body">
                <h5 class="notification-item__title">{{notification.title}}</h5>

                <div class="notification-item__message">
                  <span *ngFor="let item of parsedNotificationMessages[index]">
                    <span *ngIf="item.isUrl === false">{{item.text}}</span>

                    <span *ngIf="item.isUrl === true">
                      {{item.textBefore}}

                      <a class="link-default blue"
                         *ngIf="checkForCodedUrl(notification.title) === false"
                         [routerLink]="item.url"
                         (click)="markAsRead(notification.id, index);">
                        {{item.text}}</a>

                              <a class="link-default blue"
                                 *ngIf="checkForCodedUrl(notification.title) === true"
                                 [routerLink]="['/find-job']"
                                 [queryParams]="{tab: 'archived'}"
                                 (click)="markAsRead(notification.id, index);">{{item.text}}</a>
                    </span>
                  </span>
                </div>
              </div>

              <div class="notification-item__details full-width-xs">
                <button class="button--mark-as-read"
                        *ngIf="!notification.hidden"
                        [matTooltip]="'Mark as read'"
                        [matTooltipPosition]="'below'"
                        [matTooltipHideDelay]="0"
                        (click)="markAsRead(notification.id, index)">
                  <i class="material-icons">visibility</i>
                </button>
                <time class="notification-item__date text-nowrap">{{notification.eventDate}}</time>
              </div>

            </li>
          </ul>
        </div>

        <div class="mt-36 flex-wrap-sm footer-buttons"
             [ngClass]="{'flex-justify-flex-end': isLastPage, 'flex-justify-space-center': !isLastPage}">

          <button class="button-upload-more button--more-notifications mb-12" *ngIf="!isLastPage" (click)="uploadMoreNotifications()">
            <span class="button-upload-more__text full-width-xs">MORE NOTIFICATIONS</span>
            <i class="material-icons field-uploaded-close" *ngIf="isUploadInProgress">
              <mat-spinner class="grey" [diameter]="18" [strokeWidth]="1.5" [value]="50" mode="indeterminate"></mat-spinner>
            </i>
          </button>

          <button type="button" mat-raised-button class="button-primary button-grey full-width-sm button--go-back" (click)="goBack()">
            Go Back
          </button>
        </div>

      </div>
    </mat-card-content>
  </mat-card>
</section>