@import "../../../app.component";
@import "../../../../assets/scss/variables";
@import "../../../../assets/scss/mixins";

.file-upload-label {
  max-width:       88px;
  height:          38px;
  cursor:          pointer;
  color:           $color-white;
  background:      $color-blue;
  border-radius:   3px;
  display:         flex;
  text-transform:  none;
  align-items:     center;
  justify-content: center;
  font-family:     $font-sf-normal;

  &.photo-upload-label {
    background: none;
    color:      $color-blue;

    &:hover {
      background: none;
      color:      $color-blue-dark;
    }
  }

  &:hover {
    background: $color-blue-dark;
  }
}
