@import "../../../../../assets/scss/variables";

.second-header {
  font-size: 16px;
  max-width: 395px;
  margin:    0 auto;
}

.vertical-line-block-for-modal {
  width:      1px;
  height:     82px;
  background: $color-blue;
}

.modal-checkbox {
  font-family: $font-sf-light;
  font-size:   14px;
  display:     block;

  &.mat-checkbox-background {
    background:    $color-grey-light-for-chips;
    border-radius: 5pc;
  }
}

.floating-margin {
  margin-top: 38px;

  @media screen and (max-width: $smMaxWidth) {
    margin-top: 12px;
  }
}