@import "../../../assets/scss/core";
@import "../../../assets/scss/variables";
@import "../../../assets/scss/mixins";

.box-time-details__line {
  height:     39px;
  background: #4DA1FF;
}

.details-box__items {
  @media screen and (max-width: $smMaxWidth) {
    margin-bottom: 12px;
  }
}

.components-container {
  width:      48%;
  flex:       1;
  max-height: fit-content;
  min-height: 166px;

  @media screen and (min-width: $smMaxWidth + 1px) {

    & + .components-container {
      margin-left: 36px;
    }
  }

  @media screen and (max-width: $smMaxWidth + 1px) {
    min-width: 100%;
  }
}