@import "../../../assets/scss/variables";

$color-white-dashboard-background: #F6F7FC;

.dashboard-wrapper {
  width:      100%;
  min-height: 100%;
  background: $color-white-dashboard-background;
}

.dashboard-container {
  min-height: 100%;
  padding:    40px;
  margin-top: 80px;

  &::ng-deep {
    .empty-chat-container {
      border-radius:    5px;
      background-color: $color-white;
      padding:          20px;

      @media screen and (max-width: $xsMaxWidth) {
        .icon-wrapper {
          margin-top: 20px;
        }
      }
    }
  }
}

.statistics-block {
  width: 48%;

  @media screen and (max-width: $smMaxWidth) {
    margin-bottom: 36px;
  }
}

.chat-wrapper {
  display:    block;
  margin-top: 36px;
  height:     600px;

  @media screen and (max-width: $xsMaxWidth) {
    height: unset;
  }
}