@import "variables";

.list-unstyled {
  padding-left: 0;
  list-style:   none;
  margin:       0;
}

.clearfix::after {
  display: block;
  clear:   both;
  content: "";
}

.pointer {
  cursor: pointer;
}

.mt {
  $margin-top-list: 6 12 16 24 36 48;

  @each $margin-top-item in $margin-top-list {
    &-#{$margin-top-item} {
      margin-top: $margin-top-item + px;
    }
  }
}

.mb {
  $margin-bottom-list: 2 6 12 16 24 36;

  @each $margin-bottom-item in $margin-bottom-list {
    &-#{$margin-bottom-item} {
      margin-bottom: $margin-bottom-item + px;
    }
  }
}

.mr {
  $margin-right-list: 2 6 8 12 20 24;

  @each $margin-right-item in $margin-right-list {
    &-#{$margin-right-item} {
      margin-right: $margin-right-item + px;
    }
  }
}

.ml {
  $margin-left-list: 2 6 12 24 48;

  @each $margin-left-item in $margin-left-list {
    &-#{$margin-left-item} {
      margin-left: $margin-left-item + px;
    }
  }
}

.pb {
  $padding-bottom-list: 30;

  @each $padding-bottom-item in $padding-bottom-list {
    &-#{$padding-bottom-item} {
      padding-bottom: $padding-bottom-item + px;
    }
  }
}

.pl {
  $padding-left-list: 9 30;

  @each $padding-left-item in $padding-left-list {
    &-#{$padding-left-item} {
      padding-left: $padding-left-item + px;
    }
  }
}

.mb-xs {
  &-24 {
    @media screen and (max-width: $smMaxWidth) {
      margin-bottom: 24px;
    }
  }
}

.main-content-padding {
  padding: 30px;
}

.pt {
  &-12 {
    padding-top: 12px;
  }
}

.pb {
  &-24 {
    padding-bottom: 24px;
  }
}

.spacer {
  margin-top: 12px;

  &-2 {
    margin-top: 24px;
  }

  &-12 {
    margin-top: 12px;
  }

  &-24 {
    margin-top: 24px;
  }
}

.align-right {
  text-align: right;
}

.align-left {
  text-align: left;
}

.align-center {
  text-align: center;
}

.inline-block {
  display: inline-block;
}

.block {
  display: block;
}

.text-nowrap {
  white-space: nowrap;
}

.flex {
  display: flex;
}

.flex-justify-space-between {
  justify-content: space-between;
}

.flex-justify-space-arround {
  justify-content: space-around;
}

.flex-justify-flex-end {
  justify-content: flex-end;
}

.flex-justify-space-center {
  justify-content: center;
}

.flex-align-center {
  align-items: center;
}

.flex-align-stretch {
  align-items: stretch;
}

.flex-align-baseline {
  align-items: baseline;
}

.flex-align-end {
  align-items: flex-end;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-wrap-xs {

  @media screen and(max-width: $xsMaxWidth) {
    flex-wrap: wrap;
  }
}

.flex-wrap-sm {

  @media screen and(max-width: $smMaxWidth) {
    flex-wrap: wrap;
  }
}

.align-self-end {
  align-self: flex-end;
}

.align-self-center {
  align-self: center;
}

.align-self-start {
  align-self: flex-start;
}

.flex-direction-column {
  flex-direction: column;
}

.flex-direction-row {
  flex-direction: row;
}

.page {
  min-height:      100%;
  display:         flex;
  justify-content: center;
  align-items:     center;
  flex-wrap:       wrap;
}

.uppercase {
  text-transform: uppercase;
}

.bold {
  font-family: $font-sf-semibold;
}

.vertical-align-middle {
  vertical-align: middle;
}

.underline {
  text-decoration: underline;
}

.relative {
  position: relative;
}