<zu-header *ngIf="user.status !== userStatusEnum.NO_BUSINESS"></zu-header>

<zu-intro-header *ngIf="user.status !== userStatusEnum.NO_BUSINESS"
                 [title]="'BUSINESS PROFILE'"
                 [isLogoVisible]="true"
                 [background]="2"></zu-intro-header>

<section class="main-height flex flex-justify-space-center flex-align-center flex-wrap" [ngClass]="setStyles('section')">
  <mat-card>
    <mat-card-content class="main-content-padding">

      <!--Page logo-->
      <div class="logo-container relative" *ngIf="user.status === userStatusEnum.NO_BUSINESS">
        <!--LOGO HORIZONTAL-->
        <svg class="logo-horizontal hide-xs" width="366px" height="93px" viewBox="0 0 610 156">
          <use xlink:href="#logo-horizontal"></use>
        </svg>

        <!--LOGO COMPLEX-->
        <svg class="logo-complex" width="242px" height="131px" viewBox="0 0 242 131">
          <use xlink:href="#logo-complex"></use>
        </svg>

        <button type="button"
                class="button-small button-small--link button-logout hide-xs"
                [routerLink]="['/logout']">
          <span>Log out</span>
          <svg class="ml-6" width="14px" height="14px" viewBox="0 0 10 10" version="1.1" xmlns="http://www.w3.org/2000/svg">
            <desc>Created with Sketch.</desc>
            <defs></defs>
            <g id="Sign-Up" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
              <g id="Business-data" transform="translate(-1246.000000, -90.000000)" fill="#FFFFFF" fill-rule="nonzero">
                <g id="Group-10" transform="translate(1197.000000, 81.000000)">
                  <g id="Group-7" transform="translate(10.000000, 7.000000)">
                    <g id="logout-variant" transform="translate(39.000000, 2.000000)">
                      <path d="M6.15555556,6.99444444 L7.59444444,5.55555556 L2.22222222,5.55555556 L2.22222222,4.44444444 L7.59444444,4.44444444 L6.15555556,3.00555556 L6.94444444,2.22222222 L9.72222222,5 L6.94444444,7.77777778 L6.15555556,6.99444444 Z M8.88888889,0 C9.50253861,0 10,0.497461389 10,1.11111111 L10,3.70555556 L8.88888889,2.59444444 L8.88888889,1.11111111 L1.11111111,1.11111111 L1.11111111,8.88888889 L8.88888889,8.88888889 L8.88888889,7.40555556 L10,6.29444444 L10,8.88888889 C10,9.50253861 9.50253861,10 8.88888889,10 L1.11111111,10 C0.494444444,10 0,9.5 0,8.88888889 L0,1.11111111 C0,0.494444444 0.494444444,0 1.11111111,0 L8.88888889,0 Z"
                            id="Shape"></path>
                    </g>
                  </g>
                </g>
              </g>
            </g>
          </svg>
        </button>


        <button type="button"
                class="button-small button-small--link button-logout show-xs"
                [routerLink]="['/logout']">
          <span>Log out</span>
          <svg class="ml-6" width="14px" height="14px" viewBox="0 0 10 10" version="1.1" xmlns="http://www.w3.org/2000/svg">
            <desc>Created with Sketch.</desc>
            <defs></defs>
            <g id="Sign-Up" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
              <g id="Business-data" transform="translate(-1246.000000, -90.000000)" fill="#FFFFFF" fill-rule="nonzero">
                <g id="Group-10" transform="translate(1197.000000, 81.000000)">
                  <g id="Group-7" transform="translate(10.000000, 7.000000)">
                    <g id="logout-variant" transform="translate(39.000000, 2.000000)">
                      <path d="M6.15555556,6.99444444 L7.59444444,5.55555556 L2.22222222,5.55555556 L2.22222222,4.44444444 L7.59444444,4.44444444 L6.15555556,3.00555556 L6.94444444,2.22222222 L9.72222222,5 L6.94444444,7.77777778 L6.15555556,6.99444444 Z M8.88888889,0 C9.50253861,0 10,0.497461389 10,1.11111111 L10,3.70555556 L8.88888889,2.59444444 L8.88888889,1.11111111 L1.11111111,1.11111111 L1.11111111,8.88888889 L8.88888889,8.88888889 L8.88888889,7.40555556 L10,6.29444444 L10,8.88888889 C10,9.50253861 9.50253861,10 8.88888889,10 L1.11111111,10 C0.494444444,10 0,9.5 0,8.88888889 L0,1.11111111 C0,0.494444444 0.494444444,0 1.11111111,0 L8.88888889,0 Z"
                            id="Shape"></path>
                    </g>
                  </g>
                </g>
              </g>
            </g>
          </svg>
        </button>
      </div>

      <div class="flex flex-justify-space-center">

        <!-- Business profile form -->
        <div class="full-width-xs">
          <form [formGroup]="businessProfileForm" novalidate>
            <ul class="list-unstyled" [ngClass]="setStyles('list')">
              <li class="mb-24">
                <label class="label mb-6" for="businessName">
                  <span class="top-label font-regular">Business Name</span>
                </label>

                <input type="text"
                       required
                       formControlName="businessName"
                       id="businessName"
                       class="input-transparent placeholder-big name-field-business"
                       minlength="1"
                       maxlength="255"
                       [(ngModel)]="businessName">
              </li>
              <li class="mb-24">
                <span class="label mb-6">
                  <span class="top-label font-regular">Business Identification Number</span>
                  <zu-tooltip-group [message]="'e.g.ABN, CRN'"></zu-tooltip-group>
                </span>

                <input type="text"
                       required
                       formControlName="abn"
                       maxlength="100"
                       id="businessNumber"
                       autocomplete="off"
                       class="input-transparent placeholder-big abn-number-field input-type-number"
                       [(ngModel)]="abn"
                       [textMask]="{mask:mask, guide:false}">
              </li>
              <li class="mb-24">
                <span class="label mt-24 mb-6">
                  <span class="top-label font-regular">Are you registered to pay business tax?</span>
                  <zu-tooltip-group [message]="'e.g.GST, VAT, TIN etc.'"></zu-tooltip-group>
                </span>

                <mat-radio-group [(ngModel)]="gst" formControlName="gst">
                  <mat-radio-button class="mat-radio-box__item" [value]="true">Yes</mat-radio-button>
                  <mat-radio-button class="mat-radio-box__item" [value]="false">No</mat-radio-button>
                </mat-radio-group>

              </li>
              <li class="mb-24">
                <label class="label mb-6" for="location">
                  <span class="top-label font-regular">Town / City of Business
                </span>
                </label>
                <input type="text"
                       required
                       zuGoogleAutocomplete
                       placeholder=""
                       (setAddress)="getAddress($event)"
                       formControlName="location"
                       id="location"
                       class="input-transparent placeholder-big location-field"
                       minlength="1"
                       maxlength="255">
              </li>
              <li class="mb-24">
                <label class="label mb-6" for="webSite">
                  <span class="top-label font-regular">Website
                </span>
                </label>

                <input type="text" required formControlName="webAddress" id="webSite" minlength="1" maxlength="255"
                       class="input-transparent placeholder-big web-site-field" [(ngModel)]="website">
              </li>
              <li class="mb-24 flex flex-justify-space-between">
                <button mat-raised-button
                        type="button"
                        color="primary"
                        class="button button-default full-width-xs"
                        [disabled]="isRequestInProgress"
                        (click)="sendBusinessProfileFormData()">
                  {{user.status === userStatusEnum.NO_BUSINESS ? 'SAVE' : 'EDIT' }}
                </button>
              </li>
            </ul>
          </form>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</section>

<zu-svg-icons></zu-svg-icons>
