@import "variables";

/**
 * toaster
*/

snack-bar-container,
.mat-snack-bar-container {
  color: $color-white;
  position: absolute;
  top: 50px;
  right: 28px;
  z-index: 999;

  @media screen and (max-width: $smMaxWidth) {
    top: -1px;
    right: 0;
  }


  // Success toaster
  &.success-message {
    background-color: $color-green;
  }

  // Error toaster
  &.error-message {
    background-color: $color-google;
  }

  // Info toaster
  &.info-message {
    background-color: $color-blue-lighten;
  }

  &.warning-message {
    background-color: $color-orange;
  }
}
