@import "variables";

@mixin placeholder {
  &::-webkit-input-placeholder {
    @content
  }
  &:-moz-placeholder {
    @content
  }
  &::-moz-placeholder {
    @content
  }
  &:-ms-input-placeholder {
    @content
  }
}

@mixin transition($property: all) {
  $duration: .2s;
  $timing-function: ease-in-out;

  -moz-transition: $property $duration $timing-function;
  -o-transition: $property $duration $timing-function;
  -webkit-transition: $property $duration $timing-function;
  transition: $property $duration $timing-function;
}

@mixin transition2item($property1: all, $property2: all) {
  $duration: .2s;
  $timing-function: ease-in-out;

  -moz-transition: $property1 $duration $timing-function, $property2 $duration $timing-function;
  -o-transition: $property1 $duration $timing-function, $property2 $duration $timing-function;
  -webkit-transition: $property1 $duration $timing-function, $property2 $duration $timing-function;
  transition: $property1 $duration $timing-function, $property2 $duration $timing-function;
}

@mixin input-field {
  $input-height: 56px;

  display: inline-block;
  min-height: $input-height;
  width: 100%;
  min-width: 100%;
  max-width: 100%;
  padding: 18px;

  font-family: $font-dual;
  font-size: 16px;
  font-weight: 300;
  text-overflow: ellipsis;

  @media screen and (max-width: $smMaxWidth) {
    min-width: 100%;
  }
}

@mixin button-field {
  $input-height: 56px;

  display: inline-block;
  min-height: $input-height;
  width: 100%;
  min-width: 100%;
  max-width: 100%;

  padding-left: 10px;

  font-family: $font-dual;
  font-size: 16px;
  font-weight: 300;
  text-overflow: ellipsis;

  box-shadow: none;
  cursor: pointer;

  @media screen and (max-width: $smMaxWidth) {
    min-width: 100%;
  }
}

@mixin title-2 {
  font-size: $font-title-2-lg;
  font-family: $font-sf-semibold;

  @media screen and (max-width: $mdMaxWidth) {
    min-width: $font-title-2-md;
  }
  @media screen and (max-width: $smMaxWidth) {
    min-width: $font-title-2-sm;
  }
  @media screen and (max-width: $xsMaxWidth) {
    min-width: $font-title-2-xs;
  }
}

@mixin main-title {
  font-size: $font-main-header-title;
  text-transform: uppercase;
  font-family: $font-sf-semibold;
}
