//Partial file with variables definition

/*#### Variables ####*/

/* Breaking points */
$xsMaxWidth: 480px;
$xsMinWidth: $xsMaxWidth - 1px;

$smMaxWidth: 768px;
$smMinWidth: $smMaxWidth - 1px;

$mdMaxWidth: 992px;
$mdMinWidth: $mdMaxWidth - 1px;

$lgMaxWidth: 1200px;
$lgMinWidth: $lgMaxWidth - 1px;

.xs-size::after {
  content: '#{$xsMaxWidth}';
}

.sm-size::after {
  content: '#{$smMaxWidth}';
}

.md-size::after {
  content: '#{$mdMaxWidth}';
}

.lg-size::after {
  content: '#{$lgMaxWidth}';
}

/* Sizes */
$hoverColorSaturation: 10%;
$hoverBackgroundColorLightening: 30%;

/* Colors */
$color-white: #FFFFFF;
$color-white_opacity-85: rgba(255, 255, 255, 0.85);
$color-white_opacity-75: rgba(255, 255, 255, 0.75);
$color-blue_opacity-40: rgba(27, 142, 241, .4);
$color-white-lightest: #F9F9F9;
$color-white-1: #F4F4F4;

$color-white-light: #F1EFEF;
$color-white-darkest: #ECECEC;

$color-black: #323C47;
$color-black-light: #323C47;
$color-black-middle: #4F5861;
$color-black_opacity-9: rgba(0, 0, 0, .09);

$color-grey: #606060;
$color-grey-1: #0D1120;
$color-grey-2: #1B2733;
$color-grey-dark: #D0D0D0;
$color-grey-dark-1: #999999;
$color-grey-light-hover: #D2D2D2;
$color-grey-light: #A8A8A8;
$color-grey-lighter: #BEC1C4;
$color-grey-light-1: #CCCCCC;
$color-grey-light-for-chips: #D8D8D8;
$color-grey-button-disabled: rgba(0, 0, 0, .12);
$color-grey-modal-border: #E9EFF4;
$color-grey-3: #ECECEE;

$color-facebook: #3B5998;
$color-facebook-dark: darken($color-facebook, $hoverColorSaturation);

$color-google: #DB3236;
$color-google-dark: darken($color-google, $hoverColorSaturation);
$color-google-light: lighten($color-google, 45%);

$color-orange: #FFA500;

$color-icon-background: #D4E5F9;

$color-blue: #4C92E8;
$color-blue-1: #4DA1FF;
$color-blue-2: #62ACFF;
$color-blue_opacity-50: rgba(76, 145, 232, 0.5);
$color-blue_opacity-20: rgba(76, 145, 232, 0.2);
$color-blue_opacity-30: rgba(76, 145, 232, 0.3);
$color-blue-dark: darken($color-blue, $hoverColorSaturation);
$color-blue-light: lighten($color-blue, $hoverBackgroundColorLightening);
$color-blue-lighten: #00C7D6;
$color-blue-medium: #5696FF;

$color-green: #009926;
$color-green-light: rgba(1, 255, 21, 0.1);
$color-green-lightest: #67C6B4;

$color-purple: #7A1A7D;
$color-purple-opacity-20: rgba(122, 26, 125, .2);
$color-purple-opacity-30: rgba(122, 26, 125, .3);
$color-purple-darkest: #78287C;
$color-purple-1: #57177D;
$color-aqua: #21C7C0;
$color-coral: #FF8787;
$color-coral-1: #FF7052;
$color-coral-lightest: lighten($color-google, 40%);

$color-green-for-job-label: rgba(#34FF9B, .18);
$color-red-for-job-label: rgba(#FF8787, .18);

/* Typography */
$font-dual: 'Dual', Arial, sans-serif;
$font-sf-normal: 'SF-Normal', Arial, sans-serif;
$font-sf-semibold: 'SF-Semibold', Arial, sans-serif;
$font-sf-light: 'SF-Light', Arial, sans-serif;
$font-arial: Arial, sans-serif;

$font-title-2-lg: 26px;
$font-title-2-md: 24px;
$font-title-2-sm: 22px;
$font-title-2-xs: 20px;

$font-main-header-title: 43px;

/* Icon size */
$icon-default: 26px;

/* Element offset */
$element-offset: 12px;
