<zu-header></zu-header>

<zu-intro-header [title]="'POST A JOB'" [background]="2">
  <div class="align-center">
    <a routerLink="/job" class="link-button">+ Create job</a>
  </div>
</zu-intro-header>

<section class="flex main-height admin-page-backgroud">
  <mat-card class="full-width">
    <mat-card-content class="job-tabs-padding container">
      <mat-tab-group [@.disabled]="true" (selectedTabChange)="changeQueryParamsByTab($event)" [selectedIndex]="getTabIndexFromQuery()">
        <mat-tab label="Pending jobs">
          <div class="job-info-box flex-align-center flex-justify-space-center" *ngIf="!(jobsWithStatuses.newJobs.length > 0)">
            <label class="label mt-24 top-label">No new jobs</label>
          </div>

          <ul class="job-box list-unstyled">
            <li class="job-box--item" *ngFor="let job of jobsWithStatuses.newJobs">
              <zu-job-summary [job]="job" [ownershipType]="ownershipTypeEnum.OWNER"></zu-job-summary>
            </li>
          </ul>
        </mat-tab>

        <mat-tab label="Active jobs">
          <div class="job-info-box flex-align-center flex-justify-space-center" *ngIf="!(jobsWithStatuses.activeJobs.length > 0)">
            <label class="label mt-24 top-label">No active jobs</label>
          </div>
          <ul class="job-box list-unstyled">
            <li class="job-box--item" *ngFor="let job of jobsWithStatuses.activeJobs">
              <zu-job-summary [job]="job"
                              [ownerActiveJobButtons]="true"
                              [hideApplicants]="true"
                              [ownershipType]="ownershipTypeEnum.OWNER"></zu-job-summary>
            </li>
          </ul>
        </mat-tab>

        <mat-tab label="Archived jobs">
          <div class="job-info-box flex-align-center flex-justify-space-center" *ngIf="!(jobsWithStatuses.closedJobs.length > 0)">
            <label class="label mt-24 top-label">No closed jobs</label>
          </div>
          <ul class="job-box list-unstyled">
            <li class="job-box--item" *ngFor="let job of jobsWithStatuses.closedJobs">
              <zu-job-summary [job]="job" [ownershipType]="ownershipTypeEnum.OWNER"></zu-job-summary>
            </li>
          </ul>
        </mat-tab>
      </mat-tab-group>
    </mat-card-content>
  </mat-card>
</section>

