@import "../../../assets/scss/variables";

.textarea-with-tooltip {
  position: relative;

  textarea {
    padding: 15px 15px 30px;
  }

  .textarea__tooltip {
    display: block;
    color: $color-grey-light-1;
    font-family: $font-sf-normal;
    font-size: 11px;
    letter-spacing: 0.09px;
    line-height: 13px;
    text-align: right;
    width: 100%;
  }
}