<section class="main-height flex flex-wrap flex-align-center flex-justify-space-center public-page-backgroud">
  <mat-card>
    <mat-card-content class="main-content-padding">

      <!--Page logo-->
      <div class="logo-container">

        <!--LOGO HORIZONTAL-->
        <svg class="logo-horizontal hide-xs" width="471px" height="139px" viewBox="0 0 610 156">
          <use xlink:href="#logo-horizontal-white"></use>
        </svg>

        <!--LOGO VERTICAL WHITE COMPLEX-->
        <svg class="logo-complex" width="231px" height="124px" viewBox="0 0 231 124">
          <use xlink:href="#logo-vertical-white-complex"></use>
        </svg>

      </div>

      <!--Change password form-->
      <div class="flex flex-justify-space-center">
        <div class="flex-element full-width-xs max-width-380">
          <form [formGroup]="changePasswordForm" novalidate (submit)="changePassword()">

            <input type="password" required placeholder="New Password" formControlName="password"
                   class="input-transparent password-field mb-12 max-width-380">

            <input type="password" required placeholder="Confirm Password" formControlName="confirmPassword"
                   class="input-transparent password-field mb-24">

            <button type="submit" class="btn sign-in-btn full-width mb-12" color="primary" [disabled]="isRequestInProgress">CHANGE</button>

            <button type="button" class="btn back-btn full-width" routerLink="/login">BACK</button>
          </form>

        </div>
      </div>

    </mat-card-content>
  </mat-card>
</section>

<zu-svg-icons></zu-svg-icons>

