@import "../../../../../assets/scss/variables";
@import "../../../../../assets/scss/core";

.label-date-top {
  color:     #D2D2D2;
  font-size: 15px;
}

.label-date-main {
  font-size: 23px;
}

.date-label {
  @media screen and (min-width: $smMinWidth) {
    text-align: center;
    max-width:  115px;
  }
}

.job-status-label {
  font-size:     16px;
  padding:       8px 14px;
  border-radius: 20px;
  font-family:   $font-sf-light;

  &.expire-label {
    color:      $color-coral;
    background: $color-red-for-job-label;
  }

  &.completed-label {
    color:      $color-green;
    background: $color-green-for-job-label;
  }
}