@import "../../../assets/scss/normalize";

.tooltip-box {
  display:     inline-block;
  margin-left: 6px;
  cursor:      pointer;

  .hover-on {
    display: none;
  }

  .hover-off {
    display: block;
  }

  &:hover {
    .hover-off {
      display: none;
    }
    .hover-on {
      display: block;
    }
  }
}

.tooltip-container {
  display:        inline-block;
  vertical-align: text-bottom;
  line-height:    0;
}