@import "../../../../assets/scss/core";
@import "../../../../assets/scss/variables";
@import "../../../../assets/scss/mixins";

.flex-element {
  &.sidebar {
    @media screen and (min-width: $mdMinWidth) {
      width:       20%;
      min-width:   260px;
      flex-grow:   0;
      flex-shrink: 1;
    }
  }

  &.main {
    @media screen and (min-width: $mdMinWidth) {
      flex:         1;
      padding-left: 48px;
    }
  }
}

.profile-photo-box {
  margin:          0 auto;
  height:          240px;
  width:           240px;
  background:      $color-white-light center;
  background-size: cover;
  cursor:          pointer;
  @include transition(background-color);

  &:hover,
  &:active,
  &:focus {
    background-color: $color-grey-dark;
  }

  .change-profile-photo {
    display: none;
  }

  &.profile-photo-uploaded {
    position: relative;

    &:hover {
      .change-profile-photo {
        display: block;
      }
    }
  }

  .profile-photo-title {
    font-size: 36px;
    color:     $color-grey;
    padding:   15px;
  }
}

.profile-photo {
  &-label {
    width:       100%;
    background:  $color-white_opacity-75;
    padding:     24px 24px 12px;
    font-size:   24px;
    text-align:  center;
    position:    absolute;
    margin:      0;
    bottom:      0;
    color:       $color-black-middle;
    font-family: $font-sf-normal;
    @include transition(background-color);

    &:hover {
      background-color: $color-white_opacity-85;
    }
  }

  &-close {
    position: absolute;
    top:      0;
    right:    0;
    color:    $color-white_opacity-75;
    @include transition(background-color);

    &:hover {
      color: $color-white;
    }
  }
}

.mat-radio-group {
  @media screen and (max-width: $smMaxWidth) {
    justify-content: space-between;
  }

  .radio-box-element {
    flex-basis: 40%;
  }
}

@media screen and (max-width: $smMaxWidth) {
  justify-content: space-between;
}

.check-box-flex-element {
  flex-basis: 40%;
}

.mail-highlight {
  color: $color-blue;
}

.input-with-btn {
  position: relative;

  .input-field {
    padding-right: 50px;
  }
}

.user-personal-name {
  font-size:      24px;
  font-family:    $font-sf-semibold;
  color:          $color-black;
  letter-spacing: -0.27px;
  margin-bottom:  6px;
}

.user-business-name {
  font-size:   14px;
  font-family: $font-sf-light;
  margin-top:  6px;
}

.message-text {
  font-family: $font-sf-normal;
  font-size:   16px;
}

.business-info-input {
  font-family:  $font-sf-light !important;
  padding-left: 45px !important;

  &__name {
    background: $color-white url('../../../../assets/images/input-icons/user2.svg') no-repeat 20px 50%;
  }

  &__web {
    background: $color-white url('../../../../assets/images/input-icons/web_ic.svg') no-repeat 20px 50%;
  }

  &__location {
    background: $color-white url('../../../../assets/images/input-icons/location2.svg') no-repeat 20px 50%;
  }

  &__abn {
    background: $color-white url('../../../../assets/images/input-icons/business_icon.svg') no-repeat 20px 50%;
  }
}