@import "../../../assets/scss/variables";
@import "../../../assets/scss/mixins";

$border-style: 1px solid $color-grey-3;

$chat-header-height: 52px;
$chat-message-input-height: 37px;
$chat-message-offset: 15px;

$color-chat-tabs-background: #F4F4F4;

$wrapChatMaxWidth: 1350px;

.messages-container {
  display:    flex;
  flex-wrap:  nowrap;
  background: $color-white;
  width:      100%;
  height:     100%;
  overflow:   hidden;

  @media screen and (max-width: $wrapChatMaxWidth) {
    flex-wrap: wrap;
  }

  &__block {
    border-right: $border-style;
    min-height:   50%;

    @media screen and (max-width: $wrapChatMaxWidth) {
      max-height:   50% !important;
      min-width:    50% !important;
      border-right: none !important;
    }

    @media screen and (max-width: $smMaxWidth) {
      min-width:  100% !important;
      max-height: 33% !important;
      min-height: 33% !important;
      box-shadow: none !important;
    }
  }

  .block-jobs {
    min-width:  25%;
    flex:       1 1 auto;
    max-width:  50%;
    box-shadow: 5px 4px 9px 0 rgba(0, 0, 0, 0.05);

    @media screen and (max-width: $xsMaxWidth) {
      min-height: 200px !important;
      max-height: 300px !important;
    }
  }

  .block-recipient {
    min-width: 25%;
    flex:      1 1 auto;
    max-width: 50%;

    @media screen and (max-width: $xsMaxWidth) {
      min-height: 200px !important;
      max-height: 300px !important;
    }
  }

  .block-chat {
    flex:         2 1 auto;
    min-width:    50%;
    margin-right: -1px;
    max-width:    50%;

    .block-chat__dialog {
      height:     calc(100% - #{$chat-header-height + $chat-message-input-height + $chat-message-offset * 2});
      overflow-y: auto;

      &--input-block {
        position: relative;
        margin:   $chat-message-offset;

        &__field {
          min-width:     inherit;
          min-height:    inherit;
          height:        $chat-message-input-height;
          border:        none;
          background:    $color-chat-tabs-background;
          border-radius: 3px;
          padding-right: 75px;
          @include transition(background);

          &:disabled {
            background: $color-grey-dark;
          }
        }
      }
    }

    @media screen and (max-width: $wrapChatMaxWidth) {
      max-width: 100% !important;
    }

    @media screen and (max-width: $xsMaxWidth) {
      min-height: 400px !important;
      max-height: 500px !important;
    }
  }
}

.messages-container__jobs--title {
  margin:        -1px 0 0 0;
  font-family:   $font-sf-semibold;
  font-size:     16px;
  padding:       16px 24px 16px 24px;
  border-bottom: $border-style;
  border-top:    $border-style;
  white-space:   nowrap;
  min-height:    52px;
  font-weight:   normal;
}

.chat__user-avatar {
  $el-size: 40px;
  height:        $el-size;
  min-height:    $el-size;
  max-height:    $el-size;
  width:         $el-size;
  min-width:     $el-size;
  max-width:     $el-size;
  background:    $color-grey-light;
  border-radius: 50%;
  margin-right:  17px;
  object-fit:    cover;
}

.recipient-wrap {
  overflow: hidden;
}

.chat-block__item {
  padding: 10px 25px;

  &:hover {
    background: $color-chat-tabs-background;
  }

  &.active-item {
    background: $color-white-darkest;

    &:hover {
      background: $color-grey-dark;
    }
  }
}

.block-title {
  font-size:   16px;
  font-family: $font-sf-normal;

  &__wrap {
    width:    100%;
    overflow: hidden;
    display:  block;
  }

  &__ellipsis {
    width:         100%;
    overflow:      hidden;
    display:       block;
    text-overflow: ellipsis;
    cursor:        pointer;
  }

  &__job {
    margin-bottom: 6px;
  }
}

.chat-budget {
  width:            inherit;
  height:           inherit;
  font-size:        14px;
  min-width:        15px;
  min-height:       15px;
  padding:          3px 3px 0 3px;
  border-radius:    2px;
  background-color: $color-green-lightest;
  font-family:      $font-dual;
  margin-left:      9px;
}

.chat-block__list {
  height:     calc(100% - 52px);
  overflow-y: auto;
}

.message-container {
  margin:         7px 24px;
  flex-direction: column;

  &__status-container {
    align-items: center;
    padding:     10px;
    text-align:  center;
    display:     block;
    position:    relative;

    &:before {
      content:    '';
      position:   absolute;
      top:        50%;
      right:      0;
      left:       0;
      height:     1px;
      background: $color-grey-dark;
      z-index:    0;
    }

    .message-status-label {
      font-family:    $font-sf-light;
      font-size:      14px;
      margin:         0 12px;
      text-transform: uppercase;
      text-align:     center;
      background:     $color-white;
      z-index:        1;
      position:       relative;
      padding:        0 18px;
    }
  }
}

.message {
  position:    relative;
  max-width:   80%;
  padding:     5px 10px;
  font-size:   14px;
  font-family: $font-sf-light;

  &__scroll-to {
    position:   absolute;
    background: red;
    width:      20px;
    height:     1px;
    z-index:    -1;
    top:        2.25em;
  }

  .text-message {
    margin:     0;
    word-break: break-word;
  }

  .text-message__date {
    margin-left: 12px;
  }
}

.my-message {
  background:    #F1F1F1;
  margin-left:   auto;
  border-radius: 5px 5px 0 5px;

  .text-message__date {
    margin-left: 12px;
    color:       #ABAFB3;
  }
}

.default-message {
  background:    $color-blue;
  margin-right:  auto;
  border-radius: 5px 5px 5px 0;
  color:         $color-white;

  .text-message__date {
    margin-left: 12px;
    color:       #C3DFFF;
  }
}

.send-comment-icon {
  position:    absolute;
  right:       27px;
  top:         8px;
  line-height: 0;
  cursor:      pointer;
  background:  none;
  border:      none;

  &:disabled {
    cursor: default;
  }
}

.info-message-container {
  height: calc(100% - #{$chat-header-height});

  &__with-input {
    height: calc(100% - #{$chat-header-height - $chat-message-input-height - $chat-message-offset * 2});
  }
}

.info-message {
  font-size:     14px;
  background:    $color-chat-tabs-background;
  font-family:   $font-sf-light;
  padding:       8px;
  text-align:    center;
  border-radius: 5px;
}

